Parsed function:netbiosns_name_decode.isra.0
Parsed function:netbiosns_stop
Parsed function:netbiosns_set_name
Parsed function:netbiosns_init
Parsed function:netbiosns_recv
Dump after hash based groups
Congruence classes: 5 (unique hash values: 5), with total: 5 items
Class size histogram [num of members]: number of classe number of classess
[1]: 5 classes


Dump after WPA based types groups
Congruence classes: 5 (unique hash values: 5), with total: 5 items
Class size histogram [num of members]: number of classe number of classess
[1]: 5 classes


Worklist has been filled with: 2
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 5 (unique hash values: 5), with total: 5 items
Class size histogram [num of members]: number of classe number of classess
[1]: 5 classes


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 5 (unique hash values: 5), with total: 5 items
Class size histogram [num of members]: number of classe number of classess
[1]: 5 classes


Worklist has been filled with: 2
Address reference subdivision created: 0 new classes.
Congruence classes: 5 (unique hash values: 5), with total: 5 items
Class size histogram [num of members]: number of classe number of classess
[1]: 5 classes



Item count: 5
Congruent classes before: 5, after: 5
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

netbiosns_name_decode.isra.0 (const char * name_enc, char * name_dec)
{
  const char * pname;
  char cname;
  char cnbname;
  int idx;
  sizetype _3;
  sizetype _4;
  const char * _5;
  char _6;
  char _7;
  sizetype _11;
  sizetype _12;
  const char * _13;
  char _14;
  char _15;
  sizetype idx.10_21;
  char * _23;
  char iftmp.8_24;
  int _25;

  <bb 2> [local count: 113328204]:
  # DEBUG name_dec_len s=> name_dec_len
  goto <bb 4>; [100.00%]

  <bb 3> [local count: 960413617]:
  # pname_26 = PHI <pname_18(8), pname_18(11)>
  # idx_27 = PHI <idx_19(8), idx_20(11)>

  <bb 4> [local count: 1073741824]:
  # pname_1 = PHI <name_enc_28(D)(2), pname_26(3)>
  # idx_19 = PHI <0(2), idx_27(3)>
  # DEBUG idx => NULL
  # DEBUG pname => NULL
  # DEBUG idx => idx_19
  # DEBUG pname => pname_1
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  cname_2 = *pname_1;
  # DEBUG cname => cname_2
  # DEBUG BEGIN_STMT
  if (cname_2 == 0)
    goto <bb 12>; [2.75%]
  else
    goto <bb 5>; [97.25%]

  <bb 5> [local count: 1044213925]:
  # DEBUG BEGIN_STMT
  if (cname_2 == 46)
    goto <bb 12>; [2.75%]
  else
    goto <bb 6>; [97.25%]

  <bb 6> [local count: 1015498041]:
  # DEBUG BEGIN_STMT
  _3 = (sizetype) cname_2;
  _4 = _3 + 1;
  _5 = &_ctype_ + _4;
  _6 = *_5;
  _7 = _6 & 3;
  if (_7 != 1)
    goto <bb 12>; [2.75%]
  else
    goto <bb 7>; [97.25%]

  <bb 7> [local count: 987571844]:
  # DEBUG BEGIN_STMT
  cname_8 = cname_2 + 191;
  # DEBUG cname => cname_8
  # DEBUG BEGIN_STMT
  cnbname_9 = cname_8 << 4;
  # DEBUG cnbname => cnbname_9
  # DEBUG BEGIN_STMT
  # DEBUG pname => pname_1 + 1
  # DEBUG BEGIN_STMT
  cname_10 = MEM[(const char *)pname_1 + 1B];
  # DEBUG cname => cname_10
  # DEBUG BEGIN_STMT
  _11 = (sizetype) cname_10;
  _12 = _11 + 1;
  _13 = &_ctype_ + _12;
  _14 = *_13;
  _15 = _14 & 3;
  if (_15 != 1)
    goto <bb 12>; [2.75%]
  else
    goto <bb 8>; [97.25%]

  <bb 8> [local count: 960413617]:
  # DEBUG BEGIN_STMT
  cname_16 = cname_10 + 191;
  # DEBUG cname => cname_16
  # DEBUG BEGIN_STMT
  cnbname_17 = cnbname_9 | cname_16;
  # DEBUG cnbname => cnbname_17
  # DEBUG BEGIN_STMT
  pname_18 = &MEM[(void *)pname_1 + 2B];
  # DEBUG pname => pname_18
  # DEBUG BEGIN_STMT
  if (idx_19 <= 15)
    goto <bb 9>; [50.00%]
  else
    goto <bb 3>; [50.00%]

  <bb 9> [local count: 480206808]:
  # DEBUG BEGIN_STMT
  if (cnbname_17 != 32)
    goto <bb 11>; [66.00%]
  else
    goto <bb 10>; [34.00%]

  <bb 10> [local count: 163270315]:

  <bb 11> [local count: 480206808]:
  # iftmp.8_24 = PHI <cnbname_17(9), 0(10)>
  idx_20 = idx_19 + 1;
  # DEBUG idx => idx_20
  idx.10_21 = (sizetype) idx_19;
  _23 = name_dec_22(D) + idx.10_21;
  *_23 = iftmp.8_24;
  goto <bb 3>; [100.00%]

  <bb 12> [local count: 113328205]:
  # _25 = PHI <0(4), 0(5), -1(6), -1(7)>
  return _25;

}


netbiosns_stop ()
{
  struct udp_pcb * netbiosns_pcb.12_1;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  netbiosns_pcb.12_1 = netbiosns_pcb;
  if (netbiosns_pcb.12_1 != 0B)
    goto <bb 3>; [53.47%]
  else
    goto <bb 4>; [46.53%]

  <bb 3> [local count: 574129754]:
  # DEBUG BEGIN_STMT
  udp_remove (netbiosns_pcb.12_1);
  # DEBUG BEGIN_STMT
  netbiosns_pcb = 0B;

  <bb 4> [local count: 1073741824]:
  return;

}


netbiosns_set_name (const char * hostname)
{
  unsigned char __x;
  size_t copy_len;
  size_t i;
  const char * _1;
  sizetype _2;
  sizetype _3;
  const char * _4;
  char _5;
  int _6;
  char _7;
  int iftmp.11_9;
  char _15;
  int iftmp.11_18;
  int iftmp.11_19;

  <bb 2> [local count: 214748]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  copy_len_14 = strlen (hostname_13(D));
  # DEBUG copy_len => copy_len_14
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (copy_len_14 > 15)
    goto <bb 10>; [50.00%]
  else
    goto <bb 11>; [50.00%]

  <bb 11> [local count: 107374]:
  goto <bb 8>; [100.00%]

  <bb 10> [local count: 107374]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("BKPT #0
	");
  # DEBUG BEGIN_STMT

  <bb 12> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

  <bb 4> [local count: 868753]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = hostname_13(D) + i_8;
  __x_17 = *_1;
  # DEBUG __x => __x_17
  # DEBUG BEGIN_STMT
  _2 = (sizetype) __x_17;
  _3 = _2 + 1;
  _4 = &_ctype_ + _3;
  _5 = *_4;
  _15 = _5 & 3;
  if (_15 == 2)
    goto <bb 5>; [34.00%]
  else
    goto <bb 6>; [66.00%]

  <bb 5> [local count: 295376]:
  _6 = (int) __x_17;
  iftmp.11_19 = _6 + -32;
  goto <bb 7>; [100.00%]

  <bb 6> [local count: 573377]:
  iftmp.11_18 = (int) __x_17;

  <bb 7> [local count: 868753]:
  # iftmp.11_9 = PHI <iftmp.11_19(5), iftmp.11_18(6)>
  _7 = (char) iftmp.11_9;
  netbiosns_local_name[i_8] = _7;
  # DEBUG BEGIN_STMT
  i_21 = i_8 + 1;
  # DEBUG i => i_21

  <bb 8> [local count: 976127]:
  # i_8 = PHI <i_21(7), 0(11)>
  # DEBUG copy_len => NULL
  # DEBUG i => i_8
  # DEBUG BEGIN_STMT
  if (i_8 < copy_len_14)
    goto <bb 4>; [89.00%]
  else
    goto <bb 9>; [11.00%]

  <bb 9> [local count: 107374]:
  # DEBUG BEGIN_STMT
  netbiosns_local_name[copy_len_14] = 0;
  return;

}


netbiosns_init ()
{
  struct udp_pcb * _1;
  unsigned char _2;
  unsigned char _3;
  struct udp_pcb * netbiosns_pcb.4_4;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _1 = udp_new_ip_type (46);
  netbiosns_pcb = _1;
  # DEBUG BEGIN_STMT
  if (_1 != 0B)
    goto <bb 3>; [53.47%]
  else
    goto <bb 4>; [46.53%]

  <bb 3> [local count: 574129754]:
  # DEBUG BEGIN_STMT
  _2 = _1->so_options;
  _3 = _2 | 32;
  _1->so_options = _3;
  # DEBUG BEGIN_STMT
  udp_bind (_1, &ip_addr_any_type, 137);
  # DEBUG BEGIN_STMT
  netbiosns_pcb.4_4 = netbiosns_pcb;
  udp_recv (netbiosns_pcb.4_4, netbiosns_recv, netbiosns_pcb.4_4);

  <bb 4> [local count: 1073741824]:
  return;

}


netbiosns_recv (void * arg, struct udp_pcb * upcb, struct pbuf * p, const struct ip_addr_t * addr, u16_t port)
{
  struct netbios_resp * resp;
  struct pbuf * q;
  struct netbios_hdr * netbios_hdr;
  char netbios_name[17];
  short unsigned int _1;
  struct netif * netif_default.6_2;
  short unsigned int _3;
  short unsigned int _4;
  u8_t[33] * _5;
  short unsigned int _6;
  int _7;
  short unsigned int _8;
  u8_t[33] * _9;
  unsigned char _10;
  short unsigned int _11;
  short unsigned int _12;
  struct netif * netif_default.7_13;
  long unsigned int _14;
  short unsigned int _48;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (p_17(D) != 0B)
    goto <bb 3>; [70.00%]
  else
    goto <bb 13>; [30.00%]

  <bb 3> [local count: 751619278]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  netbios_hdr_19 = p_17(D)->payload;
  # DEBUG netbios_hdr => netbios_hdr_19
  # DEBUG BEGIN_STMT
  # DEBUG netbios_question_hdr => netbios_hdr_19 + 12
  # DEBUG BEGIN_STMT
  _1 = p_17(D)->len;
  if (_1 <= 49)
    goto <bb 4>; [20.24%]
  else
    goto <bb 5>; [79.76%]

  <bb 4> [local count: 152127742]:
  # DEBUG BEGIN_STMT
  pbuf_free (p_17(D));
  # DEBUG BEGIN_STMT
  netbios_name ={v} {CLOBBER};
  goto <bb 13>; [100.00%]

  <bb 5> [local count: 599491537]:
  # DEBUG BEGIN_STMT
  netif_default.6_2 = netif_default;
  if (netif_default.6_2 != 0B)
    goto <bb 6>; [70.00%]
  else
    goto <bb 12>; [30.00%]

  <bb 6> [local count: 419644075]:
  # DEBUG BEGIN_STMT
  _3 = netbios_hdr_19->flags;
  _48 = _3 & 248;
  if (_48 == 0)
    goto <bb 7>; [50.00%]
  else
    goto <bb 12>; [50.00%]

  <bb 7> [local count: 209822037]:
  _4 = netbios_hdr_19->questions;
  if (_4 == 256)
    goto <bb 8>; [20.24%]
  else
    goto <bb 12>; [79.76%]

  <bb 8> [local count: 42467980]:
  # DEBUG BEGIN_STMT
  _5 = &MEM[(struct netbios_question_hdr *)netbios_hdr_19 + 12B].encname;
  # DEBUG D#1 => 17
  netbiosns_name_decode.isra.0 (_5, &netbios_name);
  # DEBUG BEGIN_STMT
  _6 = MEM[(struct netbios_question_hdr *)netbios_hdr_19 + 12B].type;
  if (_6 == 8192)
    goto <bb 9>; [20.24%]
  else
    goto <bb 12>; [79.76%]

  <bb 9> [local count: 8595519]:
  # DEBUG BEGIN_STMT
  _7 = lwip_strnicmp (&netbios_name, &netbiosns_local_name, 16);
  if (_7 == 0)
    goto <bb 10>; [33.00%]
  else
    goto <bb 12>; [67.00%]

  <bb 10> [local count: 2836521]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  q_23 = pbuf_alloc (74, 62, 640);
  # DEBUG q => q_23
  # DEBUG BEGIN_STMT
  if (q_23 != 0B)
    goto <bb 11>; [53.47%]
  else
    goto <bb 12>; [46.53%]

  <bb 11> [local count: 1516688]:
  # DEBUG BEGIN_STMT
  resp_24 = q_23->payload;
  # DEBUG resp => resp_24
  # DEBUG BEGIN_STMT
  _8 = netbios_hdr_19->trans_id;
  resp_24->resp_hdr.trans_id = _8;
  # DEBUG BEGIN_STMT
  resp_24->resp_hdr.flags = 133;
  # DEBUG BEGIN_STMT
  resp_24->resp_hdr.questions = 0;
  # DEBUG BEGIN_STMT
  resp_24->resp_hdr.answerRRs = 256;
  # DEBUG BEGIN_STMT
  resp_24->resp_hdr.authorityRRs = 0;
  # DEBUG BEGIN_STMT
  resp_24->resp_hdr.additionalRRs = 0;
  # DEBUG BEGIN_STMT
  _9 = &resp_24->resp_name.encname;
  memcpy (_9, _5, 33);
  # DEBUG BEGIN_STMT
  _10 = MEM[(struct netbios_question_hdr *)netbios_hdr_19 + 12B].nametype;
  resp_24->resp_name.nametype = _10;
  # DEBUG BEGIN_STMT
  _11 = MEM[(struct netbios_question_hdr *)netbios_hdr_19 + 12B].type;
  resp_24->resp_name.type = _11;
  # DEBUG BEGIN_STMT
  _12 = MEM[(struct netbios_question_hdr *)netbios_hdr_19 + 12B].cls;
  resp_24->resp_name.cls = _12;
  # DEBUG BEGIN_STMT
  resp_24->resp_name.ttl = 3767731200;
  # DEBUG BEGIN_STMT
  resp_24->resp_name.datalen = 1536;
  # DEBUG BEGIN_STMT
  resp_24->resp_name.flags = 0;
  # DEBUG BEGIN_STMT
  netif_default.7_13 = netif_default;
  _14 = MEM[(const struct ip4_addr_t *)netif_default.7_13 + 4B].addr;
  resp_24->resp_name.addr.addr = _14;
  # DEBUG BEGIN_STMT
  udp_sendto (upcb_39(D), q_23, addr_40(D), port_41(D));
  # DEBUG BEGIN_STMT
  pbuf_free (q_23);

  <bb 12> [local count: 599491536]:
  # DEBUG BEGIN_STMT
  pbuf_free (p_17(D));
  netbios_name ={v} {CLOBBER};

  <bb 13> [local count: 1073741824]:
  return;

}


