Parsed function:GMAC1_CH1_RX_IRQHandler
Parsed function:GMAC1_CH1_TX_IRQHandler
Parsed function:GMAC1_CH0_RX_IRQHandler
Parsed function:GMAC1_CH0_TX_IRQHandler
Parsed function:GMAC1_Common_IRQHandler
Parsed function:GMAC0_CH1_RX_IRQHandler
Parsed function:GMAC0_CH1_TX_IRQHandler
Parsed function:GMAC0_CH0_RX_IRQHandler
Parsed function:GMAC0_CH0_TX_IRQHandler
Parsed function:GMAC0_Common_IRQHandler
Dump after hash based groups
Congruence classes: 6 (unique hash values: 6), with total: 10 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes
[2]: 4 classes


Dump after WPA based types groups
Congruence classes: 10 (unique hash values: 6), with total: 10 items
Class size histogram [num of members]: number of classe number of classess
[1]: 10 classes


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 10 (unique hash values: 6), with total: 10 items
Class size histogram [num of members]: number of classe number of classess
[1]: 10 classes


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 10 (unique hash values: 6), with total: 10 items
Class size histogram [num of members]: number of classe number of classess
[1]: 10 classes


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Congruence classes: 10 (unique hash values: 6), with total: 10 items
Class size histogram [num of members]: number of classe number of classess
[1]: 10 classes



Item count: 10
Congruent classes before: 10, after: 10
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

GMAC1_CH1_RX_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  GMAC_RxIRQHandler (1, 1);
  return;

}


GMAC1_CH1_TX_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  GMAC_TxIRQHandler (1, 1);
  return;

}


GMAC1_CH0_RX_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  GMAC_RxIRQHandler (1, 0);
  return;

}


GMAC1_CH0_TX_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  GMAC_TxIRQHandler (1, 0);
  return;

}


GMAC1_Common_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  GMAC_CommonIRQHandler (1);
  return;

}


GMAC0_CH1_RX_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  GMAC_RxIRQHandler (0, 1);
  return;

}


GMAC0_CH1_TX_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  GMAC_TxIRQHandler (0, 1);
  return;

}


GMAC0_CH0_RX_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  GMAC_RxIRQHandler (0, 0);
  return;

}


GMAC0_CH0_TX_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  GMAC_TxIRQHandler (0, 0);
  return;

}


GMAC0_Common_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  GMAC_CommonIRQHandler (0);
  return;

}


