Parsed function:sntp_request.part.0
Parsed function:sntp_getserver
Parsed function:sntp_setserver
Parsed function:sntp_getreachability
Parsed function:sntp_getoperatingmode
Parsed function:sntp_setoperatingmode
Parsed function:sntp_enabled
Parsed function:sntp_stop
Parsed function:sntp_init
Parsed function:sntp_request
Parsed function:sntp_send_request
Parsed function:sntp_recv
Parsed function:sntp_retry
Parsed function:sntp_initialize_request
Parsed function:sntp_process
Dump after hash based groups
Congruence classes: 15 (unique hash values: 15), with total: 15 items
Class size histogram [num of members]: number of classe number of classess
[1]: 15 classes


Dump after WPA based types groups
Congruence classes: 15 (unique hash values: 15), with total: 15 items
Class size histogram [num of members]: number of classe number of classess
[1]: 15 classes


Worklist has been filled with: 7
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 15 (unique hash values: 15), with total: 15 items
Class size histogram [num of members]: number of classe number of classess
[1]: 15 classes


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 15 (unique hash values: 15), with total: 15 items
Class size histogram [num of members]: number of classe number of classess
[1]: 15 classes


Worklist has been filled with: 7
Address reference subdivision created: 0 new classes.
Congruence classes: 15 (unique hash values: 15), with total: 15 items
Class size histogram [num of members]: number of classe number of classess
[1]: 15 classes



Item count: 15
Congruent classes before: 15, after: 15
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

sntp_request.part.0 ()
{
  struct ip_addr_t sntp_server_address;
  err_t err;
  void * arg;

  <bb 4> [local count: 1073741824]:
  # DEBUG D#2 s=> arg
  # DEBUG arg => D#2

  <bb 2> [local count: 1073741824]:
  # DEBUG err => -16
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  sys_untimeout (sntp_retry, 0B);
  # DEBUG BEGIN_STMT
  sys_timeout (15000, sntp_retry, 0B);

  <bb 3> [local count: 1073741824]:
  sntp_server_address ={v} {CLOBBER};
  return;

}


sntp_getserver (u8_t idx)
{
  const struct ip_addr_t * _1;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  if (idx_2(D) == 0)
    goto <bb 3>; [34.00%]
  else
    goto <bb 4>; [66.00%]

  <bb 3> [local count: 365072220]:
  # DEBUG BEGIN_STMT

  <bb 4> [local count: 1073741824]:
  # _1 = PHI <&MEM[(void *)&sntp_servers](3), &ip_addr_any(2)>
  return _1;

}


sntp_setserver (u8_t idx, const struct ip_addr_t * server)
{
  <bb 2> [local count: 1073741823]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (idx_2(D) == 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 6>; [50.00%]

  <bb 3> [local count: 536870911]:
  # DEBUG BEGIN_STMT
  if (server_4(D) != 0B)
    goto <bb 4>; [70.00%]
  else
    goto <bb 5>; [30.00%]

  <bb 4> [local count: 375809638]:
  # DEBUG BEGIN_STMT
  sntp_servers[0].addr = *server_4(D);
  goto <bb 6>; [100.00%]

  <bb 5> [local count: 161061273]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  sntp_servers[0].addr.u_addr.ip6.addr[0] = 0;
  # DEBUG BEGIN_STMT
  sntp_servers[0].addr.u_addr.ip6.addr[1] = 0;
  # DEBUG BEGIN_STMT
  sntp_servers[0].addr.u_addr.ip6.addr[2] = 0;
  # DEBUG BEGIN_STMT
  sntp_servers[0].addr.u_addr.ip6.addr[3] = 0;
  # DEBUG BEGIN_STMT
  sntp_servers[0].addr.u_addr.ip6.zone = 0;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  sntp_servers[0].addr.type = 0;

  <bb 6> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return;

}


sntp_getreachability (u8_t idx)
{
  u8_t _1;
  u8_t _4;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  if (idx_2(D) == 0)
    goto <bb 3>; [34.00%]
  else
    goto <bb 4>; [66.00%]

  <bb 3> [local count: 365072220]:
  # DEBUG BEGIN_STMT
  _4 = sntp_servers[0].reachability;

  <bb 4> [local count: 1073741824]:
  # _1 = PHI <_4(3), 0(2)>
  return _1;

}


sntp_getoperatingmode ()
{
  u8_t _2;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _2 = sntp_opmode;
  return _2;

}


sntp_setoperatingmode (u8_t operating_mode)
{
  struct udp_pcb * sntp_pcb.25_1;

  <bb 2> [local count: 181990]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (operating_mode_4(D) > 1)
    goto <bb 7>; [59.00%]
  else
    goto <bb 4>; [41.00%]

  <bb 7> [local count: 107374]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("BKPT #0
	");
  # DEBUG BEGIN_STMT

  <bb 9> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

  <bb 4> [local count: 74616]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  sntp_pcb.25_1 = sntp_pcb;
  if (sntp_pcb.25_1 != 0B)
    goto <bb 8>; [70.00%]
  else
    goto <bb 6>; [30.00%]

  <bb 8> [local count: 52231]:

  <bb 5> [local count: 522311701]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("BKPT #0
	");
  # DEBUG BEGIN_STMT

  <bb 10> [local count: 522311701]:
  goto <bb 5>; [100.00%]

  <bb 6> [local count: 22385]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  sntp_opmode = operating_mode_4(D);
  return;

}


sntp_enabled ()
{
  struct udp_pcb * sntp_pcb.24_1;
  _Bool _2;
  u8_t _4;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  sntp_pcb.24_1 = sntp_pcb;
  _2 = sntp_pcb.24_1 != 0B;
  _4 = (u8_t) _2;
  return _4;

}


sntp_stop ()
{
  u8_t i;
  struct udp_pcb * sntp_pcb.21_1;
  struct udp_pcb * sntp_pcb.23_2;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  sntp_pcb.21_1 = sntp_pcb;
  if (sntp_pcb.21_1 != 0B)
    goto <bb 7>; [33.00%]
  else
    goto <bb 6>; [67.00%]

  <bb 7> [local count: 354334802]:
  goto <bb 4>; [100.00%]

  <bb 3> [local count: 354334802]:
  # DEBUG BEGIN_STMT
  sntp_servers[0].reachability = 0;
  # DEBUG BEGIN_STMT
  # DEBUG i => 1

  <bb 4> [local count: 708669605]:
  # i_3 = PHI <1(3), 0(7)>
  # DEBUG i => i_3
  # DEBUG BEGIN_STMT
  if (i_3 == 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 5>; [50.00%]

  <bb 5> [local count: 354334802]:
  # DEBUG BEGIN_STMT
  sys_untimeout (sntp_request, 0B);
  # DEBUG BEGIN_STMT
  sys_untimeout (sntp_retry, 0B);
  # DEBUG BEGIN_STMT
  sntp_pcb.23_2 = sntp_pcb;
  udp_remove (sntp_pcb.23_2);
  # DEBUG BEGIN_STMT
  sntp_pcb = 0B;

  <bb 6> [local count: 1073741824]:
  return;

}


sntp_init ()
{
  struct udp_pcb * sntp_pcb.0_1;
  struct udp_pcb * _2;
  unsigned char sntp_opmode.4_3;
  int _4;
  long unsigned int _5;
  long unsigned int _6;
  struct udp_pcb * sntp_pcb.6_7;
  unsigned char _8;
  unsigned char _9;

  <bb 2> [local count: 1323941]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  sntp_pcb.0_1 = sntp_pcb;
  if (sntp_pcb.0_1 == 0B)
    goto <bb 3>; [17.43%]
  else
    goto <bb 9>; [82.57%]

  <bb 3> [local count: 230763]:
  # DEBUG BEGIN_STMT
  _2 = udp_new_ip_type (46);
  sntp_pcb = _2;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (_2 == 0B)
    goto <bb 10>; [46.53%]
  else
    goto <bb 5>; [53.47%]

  <bb 10> [local count: 107374]:

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("BKPT #0
	");
  # DEBUG BEGIN_STMT

  <bb 11> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 123389]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  udp_recv (_2, sntp_recv, 0B);
  # DEBUG BEGIN_STMT
  sntp_opmode.4_3 = sntp_opmode;
  if (sntp_opmode.4_3 == 0)
    goto <bb 6>; [33.00%]
  else
    goto <bb 7>; [67.00%]

  <bb 6> [local count: 40718]:
  # DEBUG BEGIN_STMT
  sntp_retry_timeout = 15000;
  # DEBUG BEGIN_STMT
  _4 = rand ();
  _5 = (long unsigned int) _4;
  _6 = _5 % 5000;
  sys_timeout (_6, sntp_request, 0B);
  goto <bb 9>; [100.00%]

  <bb 7> [local count: 82671]:
  # DEBUG BEGIN_STMT
  if (sntp_opmode.4_3 == 1)
    goto <bb 8>; [20.24%]
  else
    goto <bb 9>; [79.76%]

  <bb 8> [local count: 16733]:
  # DEBUG BEGIN_STMT
  sntp_pcb.6_7 = sntp_pcb;
  _8 = sntp_pcb.6_7->so_options;
  _9 = _8 | 32;
  sntp_pcb.6_7->so_options = _9;
  # DEBUG BEGIN_STMT
  udp_bind (sntp_pcb.6_7, &ip_addr_any_type, 123);

  <bb 9> [local count: 1216567]:
  return;

}


sntp_request (void * arg)
{
  struct ip_addr_t sntp_server_address;
  unsigned char _1;
  long unsigned int _2;
  long unsigned int _3;
  long unsigned int _4;
  long unsigned int _5;
  long unsigned int _6;
  _Bool iftmp.10_7;
  int iftmp.11_8;
  _Bool iftmp.10_11;
  _Bool iftmp.10_13;

  <bb 2> [local count: 1073741823]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  sntp_server_address = sntp_servers[0].addr;
  # DEBUG BEGIN_STMT
  _1 = sntp_server_address.type;
  if (_1 == 6)
    goto <bb 3>; [34.00%]
  else
    goto <bb 9>; [66.00%]

  <bb 3> [local count: 365072220]:
  _2 = sntp_server_address.u_addr.ip6.addr[0];
  if (_2 == 0)
    goto <bb 4>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 4> [local count: 182536110]:
  _3 = sntp_server_address.u_addr.ip6.addr[1];
  if (_3 == 0)
    goto <bb 5>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 5> [local count: 91268055]:
  _4 = sntp_server_address.u_addr.ip6.addr[2];
  if (_4 == 0)
    goto <bb 6>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 6> [local count: 45634027]:
  _5 = sntp_server_address.u_addr.ip6.addr[3];
  if (_5 == 0)
    goto <bb 8>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 7> [local count: 342255206]:

  <bb 8> [local count: 365072220]:
  # iftmp.11_8 = PHI <1(6), 0(7)>
  iftmp.10_13 = (_Bool) iftmp.11_8;
  goto <bb 10>; [100.00%]

  <bb 9> [local count: 708669604]:
  _6 = sntp_server_address.u_addr.ip4.addr;
  iftmp.10_11 = _6 == 0;

  <bb 10> [local count: 1073741824]:
  # iftmp.10_7 = PHI <iftmp.10_13(8), iftmp.10_11(9)>
  if (iftmp.10_7 != 0)
    goto <bb 11>; [50.00%]
  else
    goto <bb 12>; [50.00%]

  <bb 11> [local count: 536870912]:
  # DEBUG D#1 => arg_14(D)
  sntp_request.part.0 ();
  goto <bb 13>; [100.00%]

  <bb 12> [local count: 536870913]:
  # DEBUG err => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  sntp_send_request (&sntp_server_address);

  <bb 13> [local count: 1073741824]:
  sntp_server_address ={v} {CLOBBER};
  return;

}


sntp_send_request (const struct ip_addr_t * server_addr)
{
  struct sntp_msg * sntpmsg;
  struct pbuf * p;
  struct udp_pcb * sntp_pcb.15_1;
  unsigned char _2;
  unsigned char _3;

  <bb 2> [local count: 230763]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (server_addr_6(D) == 0B)
    goto <bb 8>; [46.53%]
  else
    goto <bb 4>; [53.47%]

  <bb 8> [local count: 107374]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("BKPT #0
	");
  # DEBUG BEGIN_STMT

  <bb 9> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

  <bb 4> [local count: 123389]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  p_9 = pbuf_alloc (74, 48, 640);
  # DEBUG p => p_9
  # DEBUG BEGIN_STMT
  if (p_9 != 0B)
    goto <bb 5>; [70.00%]
  else
    goto <bb 6>; [30.00%]

  <bb 5> [local count: 86372]:
  # DEBUG BEGIN_STMT
  sntpmsg_12 = p_9->payload;
  # DEBUG sntpmsg => sntpmsg_12
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  sntp_initialize_request (sntpmsg_12);
  # DEBUG BEGIN_STMT
  sntp_pcb.15_1 = sntp_pcb;
  udp_sendto (sntp_pcb.15_1, p_9, server_addr_6(D), 123);
  # DEBUG BEGIN_STMT
  pbuf_free (p_9);
  # DEBUG BEGIN_STMT
  _2 = sntp_servers[0].reachability;
  _3 = _2 << 1;
  sntp_servers[0].reachability = _3;
  # DEBUG BEGIN_STMT
  sys_untimeout (sntp_retry, 0B);
  # DEBUG BEGIN_STMT
  sys_timeout (15000, sntp_retry, 0B);
  goto <bb 7>; [100.00%]

  <bb 6> [local count: 37017]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  sys_untimeout (sntp_request, 0B);
  # DEBUG BEGIN_STMT
  sys_timeout (15000, sntp_request, 0B);

  <bb 7> [local count: 123389]:
  return;

}


sntp_recv (void * arg, struct udp_pcb * pcb, struct pbuf * p, const struct ip_addr_t * addr, u16_t port)
{
  err_t err;
  u8_t stratum;
  u8_t mode;
  struct sntp_timestamps timestamps;
  short unsigned int _1;
  unsigned char _2;
  unsigned char sntp_opmode.16_3;
  unsigned char _4;
  unsigned char _5;
  unsigned char sntp_opmode.18_6;
  unsigned char sntp_opmode.19_7;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG err => -16
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = p_12(D)->tot_len;
  if (_1 == 48)
    goto <bb 3>; [20.24%]
  else
    goto <bb 9>; [79.76%]

  <bb 3> [local count: 217325345]:
  # DEBUG BEGIN_STMT
  _2 = pbuf_get_at (p_12(D), 0);
  mode_14 = _2 & 7;
  # DEBUG mode => mode_14
  # DEBUG BEGIN_STMT
  sntp_opmode.16_3 = sntp_opmode;
  if (sntp_opmode.16_3 == 0)
    goto <bb 4>; [50.00%]
  else
    goto <bb 5>; [50.00%]

  <bb 4> [local count: 108662673]:
  if (mode_14 == 4)
    goto <bb 7>; [34.00%]
  else
    goto <bb 5>; [66.00%]

  <bb 5> [local count: 180380036]:
  if (sntp_opmode.16_3 == 1)
    goto <bb 6>; [34.00%]
  else
    goto <bb 9>; [66.00%]

  <bb 6> [local count: 61329212]:
  if (mode_14 == 5)
    goto <bb 7>; [34.00%]
  else
    goto <bb 9>; [66.00%]

  <bb 7> [local count: 57797241]:
  # DEBUG BEGIN_STMT
  stratum_16 = pbuf_get_at (p_12(D), 1);
  # DEBUG stratum => stratum_16
  # DEBUG BEGIN_STMT
  if (stratum_16 == 0)
    goto <bb 9>; [67.00%]
  else
    goto <bb 8>; [33.00%]

  <bb 8> [local count: 19073089]:
  # DEBUG BEGIN_STMT
  pbuf_copy_partial (p_12(D), &timestamps, 8, 40);
  # DEBUG BEGIN_STMT
  # DEBUG err => 0

  <bb 9> [local count: 1073741824]:
  # err_8 = PHI <-16(2), -3(6), 0(8), 1(7), -3(5)>
  # DEBUG err => err_8
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pbuf_free (p_12(D));
  # DEBUG BEGIN_STMT
  if (err_8 == 0)
    goto <bb 10>; [33.00%]
  else
    goto <bb 12>; [67.00%]

  <bb 10> [local count: 354334802]:
  # DEBUG BEGIN_STMT
  sntp_process (&timestamps);
  # DEBUG BEGIN_STMT
  _4 = sntp_servers[0].reachability;
  _5 = _4 | 1;
  sntp_servers[0].reachability = _5;
  # DEBUG BEGIN_STMT
  sntp_opmode.18_6 = sntp_opmode;
  if (sntp_opmode.18_6 == 0)
    goto <bb 11>; [33.00%]
  else
    goto <bb 15>; [67.00%]

  <bb 11> [local count: 116930484]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  sys_untimeout (sntp_retry, 0B);
  # DEBUG BEGIN_STMT
  sys_untimeout (sntp_request, 0B);
  # DEBUG BEGIN_STMT
  sntp_retry_timeout = 15000;
  # DEBUG BEGIN_STMT
  # DEBUG sntp_update_delay => 3600000
  # DEBUG BEGIN_STMT
  sys_timeout (3600000, sntp_request, 0B);
  goto <bb 15>; [100.00%]

  <bb 12> [local count: 719407022]:
  # DEBUG BEGIN_STMT
  if (err_8 == 1)
    goto <bb 13>; [34.00%]
  else
    goto <bb 15>; [66.00%]

  <bb 13> [local count: 244598387]:
  # DEBUG BEGIN_STMT
  sntp_opmode.19_7 = sntp_opmode;
  if (sntp_opmode.19_7 == 0)
    goto <bb 14>; [33.00%]
  else
    goto <bb 15>; [67.00%]

  <bb 14> [local count: 80717468]:
  # DEBUG BEGIN_STMT
  sntp_retry (0B);

  <bb 15> [local count: 1073741823]:
  # DEBUG BEGIN_STMT
  timestamps ={v} {CLOBBER};
  return;

}


sntp_retry (void * arg)
{
  u32_t new_retry_timeout;
  long unsigned int sntp_retry_timeout.12_1;
  long unsigned int sntp_retry_timeout.13_2;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  sys_untimeout (sntp_request, 0B);
  # DEBUG BEGIN_STMT
  sntp_retry_timeout.12_1 = sntp_retry_timeout;
  sys_timeout (sntp_retry_timeout.12_1, sntp_request, 0B);
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  sntp_retry_timeout.13_2 = sntp_retry_timeout;
  new_retry_timeout_7 = sntp_retry_timeout.13_2 << 1;
  # DEBUG new_retry_timeout => new_retry_timeout_7
  # DEBUG BEGIN_STMT
  if (new_retry_timeout_7 <= 150000)
    goto <bb 3>; [50.00%]
  else
    goto <bb 5>; [50.00%]

  <bb 3> [local count: 536870913]:
  if (sntp_retry_timeout.13_2 < new_retry_timeout_7)
    goto <bb 4>; [50.00%]
  else
    goto <bb 5>; [50.00%]

  <bb 4> [local count: 268435456]:
  # DEBUG BEGIN_STMT
  sntp_retry_timeout = new_retry_timeout_7;
  goto <bb 6>; [100.00%]

  <bb 5> [local count: 805306369]:
  # DEBUG BEGIN_STMT
  sntp_retry_timeout = 150000;

  <bb 6> [local count: 1073741824]:
  return;

}


sntp_initialize_request (struct sntp_msg * req)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  memset (req_2(D), 0, 48);
  # DEBUG BEGIN_STMT
  req_2(D)->li_vn_mode = 35;
  return;

}


sntp_process (const struct sntp_timestamps * timestamps)
{
  long unsigned int _1;
  long unsigned int _2;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = timestamps_4(D)->xmit.sec;
  lwip_htonl (_1);
  # DEBUG sec => NULL
  # DEBUG BEGIN_STMT
  _2 = timestamps_4(D)->xmit.frac;
  lwip_htonl (_2);
  # DEBUG frac => NULL
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return;

}


