.mmenu {
 padding-left: 25px;
 border-style: none solid none solid;
 border-color: blue;
 border-width: 1px;
}	

.rmenu {
 padding-left: 15px;
 border-style: solid;
 border-color: blue;
 border-width: 1px;
}

.nimpl {
 color: #808080;
}

ul.fx {
 list-style-image: url('fx.gif');
}

.table_cy {
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;    
}

.table_cy td, .table_cy th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tr_1{background-color: #f2f2f2;}

.table_cy tr:hover {background-color: #ddd;}

.table_cy th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #FFA600;
    color: #FFFBC1;
}

.acc_title { font-weight: bold; color: #000080; font-size: x-large;}
.acc_stitle { font-weight: bold; }

.max_c { color: #ff0000;}
.avg_c { color: #008000;}
.min_c { color: #000099;}
.itl { font-style: italic;}

.kfx  { font-style: italic; color: #008000;}
.krfx { font-style: italic; color: #000099;}

