Parsed function:lowpan6_frag.part.0
Parsed function:lowpan6_set_pan_id
Parsed function:lowpan6_if_init
Parsed function:lowpan6_input
Parsed function:lowpan6_output
Parsed function:lowpan6_hwaddr_to_addr
Parsed function:lowpan6_set_short_addr
Parsed function:lowpan6_set_context
Parsed function:lowpan6_frag
Parsed function:lowpan6_tmr
Parsed function:dequeue_datagram
Parsed function:free_reass_datagram
Parsed function:lowpan6_calc_crc
Parsed function:lowpan6_parse_iee802154_header
Parsed function:lowpan6_write_iee802154_header
Dump after hash based groups
Congruence classes: 16 (unique hash values: 16), with total: 16 items
Class size histogram [num of members]: number of classe number of classess
[1]: 16 classes


Dump after WPA based types groups
Congruence classes: 16 (unique hash values: 16), with total: 16 items
Class size histogram [num of members]: number of classe number of classess
[1]: 16 classes


Worklist has been filled with: 10
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 16 (unique hash values: 16), with total: 16 items
Class size histogram [num of members]: number of classe number of classess
[1]: 16 classes


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 16 (unique hash values: 16), with total: 16 items
Class size histogram [num of members]: number of classe number of classess
[1]: 16 classes


Worklist has been filled with: 10
Address reference subdivision created: 0 new classes.
Congruence classes: 16 (unique hash values: 16), with total: 16 items
Class size histogram [num of members]: number of classe number of classess
[1]: 16 classes



Item count: 16
Congruent classes before: 16, after: 16
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

lowpan6_frag.part.0 (struct netif * netif, struct pbuf * p, const struct lowpan6_link_addr * src, const struct lowpan6_link_addr * dst)
{
  struct pbuf * p_frag;
  u16_t frag_len;
  u16_t remaining_len;
  u16_t max_data_len;
  u8_t * buffer;
  u8_t ieee_header_len;
  u8_t lowpan6_header_len;
  u8_t hidden_header_len;
  u16_t crc;
  u16_t datagram_offset;
  err_t err;
  u16_t data_len;
  struct ieee_802154_hdr * hdr;
  long unsigned int _3;
  long unsigned int _4;
  short unsigned int _5;
  short unsigned int _6;
  short unsigned int _11;
  short unsigned int _12;
  void * _14;
  short unsigned int _15;
  unsigned int _16;
  sizetype _17;
  u8_t * _18;
  int _19;
  int _20;
  int _21;
  unsigned int _22;
  long unsigned int _24;
  long unsigned int _25;
  unsigned char hidden_header_len.10_26;
  unsigned int _27;
  long unsigned int _29;
  long unsigned int _30;
  unsigned char lowpan6_header_len.11_31;
  short unsigned int _32;
  short unsigned int _33;
  sizetype _35;
  u8_t * _36;
  unsigned int _37;
  short unsigned int _38;
  int _39;
  unsigned char hidden_header_len.13_40;
  int _41;
  int _42;
  int _43;
  signed char _44;
  signed char _45;
  signed char _46;
  unsigned char _47;
  short unsigned int _48;
  unsigned char _49;
  unsigned char hidden_header_len.14_50;
  sizetype _51;
  u8_t * _52;
  unsigned char _53;
  short unsigned int _54;
  short unsigned int _55;
  short unsigned int _56;
  sizetype _57;
  u8_t * _58;
  unsigned char _59;
  short unsigned int _60;
  sizetype _61;
  u8_t * _62;
  unsigned char _63;
  unsigned short _64;
  unsigned char lowpan6_header_len.15_66;
  short unsigned int _67;
  sizetype _69;
  sizetype _70;
  sizetype _71;
  u8_t * _72;
  unsigned char lowpan6_header_len.18_73;
  short unsigned int _74;
  short unsigned int _75;
  short unsigned int _77;
  unsigned char hidden_header_len.20_78;
  short unsigned int _79;
  short unsigned int _81;
  short unsigned int _82;
  short unsigned int _83;
  void * _84;
  short unsigned int _85;
  short unsigned int _86;
  long unsigned int _87;
  short unsigned int _88;
  long unsigned int _89;
  long unsigned int _90;
  err_t (*<T6b9>) (struct netif *, struct pbuf *) _91;
  unsigned char _93;
  unsigned char _94;
  unsigned char _95;
  unsigned char _96;
  short unsigned int _98;
  short unsigned int _99;
  unsigned char _100;
  unsigned short _101;
  sizetype _105;
  u8_t * _106;
  short unsigned int _107;
  short unsigned int _108;
  short unsigned int _111;
  short unsigned int _112;
  void * _113;
  short unsigned int _114;
  short unsigned int _115;
  long unsigned int _116;
  short unsigned int _117;
  long unsigned int _118;
  long unsigned int _119;
  err_t (*<T6b9>) (struct netif *, struct pbuf *) _120;
  sizetype _123;
  sizetype _124;
  u8_t * _125;
  unsigned char lowpan6_header_len.22_126;
  short unsigned int _127;
  short unsigned int _128;
  short unsigned int _129;
  short unsigned int _130;
  void * _131;
  short unsigned int _132;
  long unsigned int _133;
  short unsigned int _134;
  long unsigned int _135;
  long unsigned int _136;
  err_t (*<T6b9>) (struct netif *, struct pbuf *) _137;
  signed char _139;

  <bb 36> [local count: 135230]:

  <bb 2> [local count: 135230]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  p_frag_1 = pbuf_alloc (0, 127, 640);
  # DEBUG p_frag => p_frag_1
  # DEBUG BEGIN_STMT
  if (p_frag_1 == 0B)
    goto <bb 3>; [0.45%]
  else
    goto <bb 4>; [99.55%]

  <bb 3> [local count: 609]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _3 = netif_2(D)->mib2_counters.ifoutdiscards;
  _4 = _3 + 1;
  netif_2(D)->mib2_counters.ifoutdiscards = _4;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  // predicted unlikely by early return (on trees) predictor.
  goto <bb 35>; [100.00%]

  <bb 4> [local count: 134621]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _5 = p_frag_1->len;
  _6 = p_frag_1->tot_len;
  if (_5 != _6)
    goto <bb 5>; [79.76%]
  else
    goto <bb 8>; [20.24%]

  <bb 5> [local count: 107374]:

  <bb 6> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("BKPT #0
	");
  # DEBUG BEGIN_STMT

  <bb 7> [local count: 1073741824]:
  goto <bb 6>; [100.00%]

  <bb 8> [local count: 27247]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  buffer_7 = p_frag_1->payload;
  # DEBUG buffer => buffer_7
  # DEBUG BEGIN_STMT
  ieee_header_len_10 = lowpan6_write_iee802154_header (buffer_7, src_8(D), dst_9(D));
  # DEBUG ieee_header_len => ieee_header_len_10
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _11 = (short unsigned int) ieee_header_len_10;
  _12 = p_frag_1->len;
  if (_11 >= _12)
    goto <bb 9>; [67.00%]
  else
    goto <bb 12>; [33.00%]

  <bb 9> [local count: 18256]:

  <bb 10> [local count: 182557650]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("BKPT #0
	");
  # DEBUG BEGIN_STMT

  <bb 11> [local count: 182557650]:
  goto <bb 10>; [100.00%]

  <bb 12> [local count: 8992]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _14 = p_13(D)->payload;
  _15 = p_13(D)->len;
  _16 = (unsigned int) _15;
  _17 = (sizetype) ieee_header_len_10;
  _18 = buffer_7 + _17;
  _19 = (int) _12;
  _20 = (int) ieee_header_len_10;
  _21 = _19 - _20;
  _22 = (unsigned int) _21;
  err_23 = lowpan6_compress_headers (netif_2(D), _14, _16, _18, _22, &lowpan6_header_len, &hidden_header_len, &lowpan6_data.lowpan6_context, src_8(D), dst_9(D));
  # DEBUG err => err_23
  # DEBUG BEGIN_STMT
  if (err_23 != 0)
    goto <bb 13>; [34.00%]
  else
    goto <bb 14>; [66.00%]

  <bb 13> [local count: 3057]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _24 = netif_2(D)->mib2_counters.ifoutdiscards;
  _25 = _24 + 1;
  netif_2(D)->mib2_counters.ifoutdiscards = _25;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pbuf_free (p_frag_1);
  # DEBUG BEGIN_STMT
  // predicted unlikely by early return (on trees) predictor.
  goto <bb 35>; [100.00%]

  <bb 14> [local count: 5934]:
  # DEBUG BEGIN_STMT
  hidden_header_len.10_26 = hidden_header_len;
  _27 = (unsigned int) hidden_header_len.10_26;
  pbuf_remove_header (p_13(D), _27);
  # DEBUG BEGIN_STMT
  remaining_len_28 = p_13(D)->tot_len;
  # DEBUG remaining_len => remaining_len_28
  # DEBUG BEGIN_STMT
  if (remaining_len_28 > 2047)
    goto <bb 15>; [0.52%]
  else
    goto <bb 16>; [99.48%]

  <bb 15> [local count: 31]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _29 = netif_2(D)->mib2_counters.ifoutdiscards;
  _30 = _29 + 1;
  netif_2(D)->mib2_counters.ifoutdiscards = _30;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pbuf_free (p_frag_1);
  # DEBUG BEGIN_STMT
  // predicted unlikely by early return (on trees) predictor.
  goto <bb 35>; [100.00%]

  <bb 16> [local count: 5904]:
  # DEBUG BEGIN_STMT
  lowpan6_header_len.11_31 = lowpan6_header_len;
  _32 = (short unsigned int) lowpan6_header_len.11_31;
  _33 = _11 + _32;
  max_data_len_34 = 125 - _33;
  # DEBUG max_data_len => max_data_len_34
  # DEBUG BEGIN_STMT
  if (remaining_len_28 > max_data_len_34)
    goto <bb 17>; [50.00%]
  else
    goto <bb 29>; [50.00%]

  <bb 17> [local count: 2952]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _35 = _17 + 4;
  _36 = buffer_7 + _35;
  _37 = (unsigned int) lowpan6_header_len.11_31;
  memmove (_36, _18, _37);
  # DEBUG BEGIN_STMT
  _38 = p_13(D)->tot_len;
  _39 = (int) _38;
  hidden_header_len.13_40 = hidden_header_len;
  _41 = (int) hidden_header_len.13_40;
  _42 = _39 + _41;
  _43 = _42 >> 8;
  _44 = (signed char) _43;
  _45 = _44 & 7;
  _46 = _45 | -64;
  _47 = (unsigned char) _46;
  *_18 = _47;
  # DEBUG BEGIN_STMT
  _48 = p_13(D)->tot_len;
  _49 = (unsigned char) _48;
  hidden_header_len.14_50 = hidden_header_len;
  _51 = _17 + 1;
  _52 = buffer_7 + _51;
  _53 = _49 + hidden_header_len.14_50;
  *_52 = _53;
  # DEBUG BEGIN_STMT
  _54 = lowpan6_data.tx_datagram_tag;
  _55 = _54 + 1;
  lowpan6_data.tx_datagram_tag = _55;
  # DEBUG BEGIN_STMT
  _56 = _55 >> 8;
  _57 = _17 + 2;
  _58 = buffer_7 + _57;
  _59 = (unsigned char) _56;
  *_58 = _59;
  # DEBUG BEGIN_STMT
  _60 = lowpan6_data.tx_datagram_tag;
  _61 = _17 + 3;
  _62 = buffer_7 + _61;
  _63 = (unsigned char) _60;
  *_62 = _63;
  # DEBUG BEGIN_STMT
  _64 = 121 - _33;
  data_len_65 = _64 & 248;
  # DEBUG data_len => data_len_65
  # DEBUG BEGIN_STMT
  lowpan6_header_len.15_66 = lowpan6_header_len;
  _67 = (short unsigned int) lowpan6_header_len.15_66;
  frag_len_68 = data_len_65 + _67;
  # DEBUG frag_len => frag_len_68
  # DEBUG BEGIN_STMT
  _69 = (sizetype) lowpan6_header_len.15_66;
  _70 = _17 + _69;
  _71 = _70 + 4;
  _72 = buffer_7 + _71;
  pbuf_copy_partial (p_13(D), _72, data_len_65, 0);
  # DEBUG BEGIN_STMT
  lowpan6_header_len.18_73 = lowpan6_header_len;
  _74 = (short unsigned int) lowpan6_header_len.18_73;
  _75 = _74 - frag_len_68;
  remaining_len_76 = remaining_len_28 + _75;
  # DEBUG remaining_len => remaining_len_76
  # DEBUG BEGIN_STMT
  _77 = frag_len_68 - _74;
  hidden_header_len.20_78 = hidden_header_len;
  _79 = (short unsigned int) hidden_header_len.20_78;
  datagram_offset_80 = _77 + _79;
  # DEBUG datagram_offset => datagram_offset_80
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _81 = datagram_offset_80 & 7;
  if (_81 != 0)
    goto <bb 18>; [67.00%]
  else
    goto <bb 21>; [33.00%]

  <bb 18> [local count: 1978]:

  <bb 19> [local count: 19777149]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("BKPT #0
	");
  # DEBUG BEGIN_STMT

  <bb 20> [local count: 19777149]:
  goto <bb 19>; [100.00%]

  <bb 21> [local count: 974]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _82 = _11 + frag_len_68;
  _83 = _82 + 6;
  p_frag_1->tot_len = _83;
  p_frag_1->len = _83;
  # DEBUG BEGIN_STMT
  _84 = p_frag_1->payload;
  _85 = _83 + 65534;
  _86 = lowpan6_calc_crc (_84, _85);
  crc = _86;
  # DEBUG BEGIN_STMT
  pbuf_take_at (p_frag_1, &crc, 2, _85);
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _87 = netif_2(D)->mib2_counters.ifoutoctets;
  _88 = p_frag_1->tot_len;
  _89 = (long unsigned int) _88;
  _90 = _87 + _89;
  netif_2(D)->mib2_counters.ifoutoctets = _90;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _91 = netif_2(D)->linkoutput;
  err_92 = _91 (netif_2(D), p_frag_1);
  # DEBUG err => err_92
  # DEBUG BEGIN_STMT
  goto <bb 27>; [100.00%]

  <bb 22> [local count: 8543]:
  # DEBUG BEGIN_STMT
  # DEBUG hdr => buffer_7
  # DEBUG BEGIN_STMT
  _93 = lowpan6_data.tx_frame_seq_num;
  _94 = _93 + 1;
  lowpan6_data.tx_frame_seq_num = _94;
  MEM[(struct ieee_802154_hdr *)buffer_7].sequence_number = _93;
  # DEBUG BEGIN_STMT
  _95 = *_18;
  _96 = _95 | 32;
  *_18 = _96;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _98 = datagram_offset_97 & 7;
  if (_98 != 0)
    goto <bb 23>; [3.66%]
  else
    goto <bb 26>; [96.34%]

  <bb 23> [local count: 313]:

  <bb 24> [local count: 3126705]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("BKPT #0
	");
  # DEBUG BEGIN_STMT

  <bb 25> [local count: 3126705]:
  goto <bb 24>; [100.00%]

  <bb 26> [local count: 8230]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _99 = datagram_offset_97 >> 3;
  _100 = (unsigned char) _99;
  *_36 = _100;
  # DEBUG BEGIN_STMT
  _101 = 120 - _11;
  frag_len_102 = _101 & 248;
  # DEBUG frag_len => frag_len_102
  # DEBUG BEGIN_STMT
  frag_len_104 = MIN_EXPR <frag_len_102, remaining_len_103>;
  # DEBUG frag_len => frag_len_104
  # DEBUG BEGIN_STMT
  _105 = _17 + 5;
  _106 = buffer_7 + _105;
  _107 = p_13(D)->tot_len;
  _108 = _107 - remaining_len_103;
  pbuf_copy_partial (p_13(D), _106, frag_len_104, _108);
  # DEBUG BEGIN_STMT
  remaining_len_109 = remaining_len_103 - frag_len_104;
  # DEBUG remaining_len => remaining_len_109
  # DEBUG BEGIN_STMT
  datagram_offset_110 = datagram_offset_97 + frag_len_104;
  # DEBUG datagram_offset => datagram_offset_110
  # DEBUG BEGIN_STMT
  _111 = _11 + frag_len_104;
  _112 = _111 + 7;
  p_frag_1->tot_len = _112;
  p_frag_1->len = _112;
  # DEBUG BEGIN_STMT
  _113 = p_frag_1->payload;
  _114 = _112 + 65534;
  _115 = lowpan6_calc_crc (_113, _114);
  crc = _115;
  # DEBUG BEGIN_STMT
  pbuf_take_at (p_frag_1, &crc, 2, _114);
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _116 = netif_2(D)->mib2_counters.ifoutoctets;
  _117 = p_frag_1->tot_len;
  _118 = (long unsigned int) _117;
  _119 = _116 + _118;
  netif_2(D)->mib2_counters.ifoutoctets = _119;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _120 = netif_2(D)->linkoutput;
  err_121 = _120 (netif_2(D), p_frag_1);
  # DEBUG err => err_121

  <bb 27> [local count: 9204]:
  # remaining_len_103 = PHI <remaining_len_76(21), remaining_len_109(26)>
  # datagram_offset_97 = PHI <datagram_offset_80(21), datagram_offset_110(26)>
  # err_122 = PHI <err_92(21), err_121(26)>
  # DEBUG err => err_122
  # DEBUG datagram_offset => datagram_offset_97
  # DEBUG remaining_len => remaining_len_103
  # DEBUG BEGIN_STMT
  if (remaining_len_103 != 0)
    goto <bb 28>; [96.34%]
  else
    goto <bb 34>; [3.66%]

  <bb 28> [local count: 8867]:
  if (err_122 == 0)
    goto <bb 22>; [96.34%]
  else
    goto <bb 34>; [3.66%]

  <bb 29> [local count: 2952]:
  # DEBUG BEGIN_STMT
  # DEBUG frag_len => remaining_len_28
  # DEBUG BEGIN_STMT
  _123 = (sizetype) lowpan6_header_len.11_31;
  _124 = _17 + _123;
  _125 = buffer_7 + _124;
  pbuf_copy_partial (p_13(D), _125, remaining_len_28, 0);
  # DEBUG BEGIN_STMT
  # DEBUG remaining_len => 0
  # DEBUG BEGIN_STMT
  lowpan6_header_len.22_126 = lowpan6_header_len;
  _127 = (short unsigned int) lowpan6_header_len.22_126;
  _128 = remaining_len_28 + _127;
  _129 = _11 + _128;
  _130 = _129 + 2;
  p_frag_1->tot_len = _130;
  p_frag_1->len = _130;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (_130 > 127)
    goto <bb 30>; [67.00%]
  else
    goto <bb 33>; [33.00%]

  <bb 30> [local count: 1978]:

  <bb 31> [local count: 19777149]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("BKPT #0
	");
  # DEBUG BEGIN_STMT

  <bb 32> [local count: 19777149]:
  goto <bb 31>; [100.00%]

  <bb 33> [local count: 974]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _131 = p_frag_1->payload;
  _132 = lowpan6_calc_crc (_131, _129);
  crc = _132;
  # DEBUG BEGIN_STMT
  pbuf_take_at (p_frag_1, &crc, 2, _129);
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _133 = netif_2(D)->mib2_counters.ifoutoctets;
  _134 = p_frag_1->tot_len;
  _135 = (long unsigned int) _134;
  _136 = _133 + _135;
  netif_2(D)->mib2_counters.ifoutoctets = _136;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _137 = netif_2(D)->linkoutput;
  err_138 = _137 (netif_2(D), p_frag_1);
  # DEBUG err => err_138

  <bb 34> [local count: 1636]:
  # err_140 = PHI <err_122(27), err_122(28), err_138(33)>
  # DEBUG err => err_140
  # DEBUG BEGIN_STMT
  pbuf_free (p_frag_1);
  # DEBUG BEGIN_STMT

  <bb 35> [local count: 5332]:
  # _139 = PHI <-1(3), err_23(13), -6(15), err_140(34)>
  lowpan6_header_len ={v} {CLOBBER};
  hidden_header_len ={v} {CLOBBER};
  crc ={v} {CLOBBER};
  return _139;

}


lowpan6_set_pan_id (u16_t pan_id)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  lowpan6_data.ieee_802154_pan_id = pan_id_2(D);
  # DEBUG BEGIN_STMT
  return 0;

}


lowpan6_if_init (struct netif * netif)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  netif_2(D)->name[0] = 76;
  # DEBUG BEGIN_STMT
  netif_2(D)->name[1] = 54;
  # DEBUG BEGIN_STMT
  netif_2(D)->output_ip6 = lowpan6_output;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  netif_2(D)->link_type = 1;
  # DEBUG BEGIN_STMT
  netif_2(D)->link_speed = 0;
  # DEBUG BEGIN_STMT
  netif_2(D)->ts = 0;
  # DEBUG BEGIN_STMT
  netif_2(D)->mib2_counters.ifinoctets = 0;
  # DEBUG BEGIN_STMT
  netif_2(D)->mib2_counters.ifinucastpkts = 0;
  # DEBUG BEGIN_STMT
  netif_2(D)->mib2_counters.ifinnucastpkts = 0;
  # DEBUG BEGIN_STMT
  netif_2(D)->mib2_counters.ifindiscards = 0;
  # DEBUG BEGIN_STMT
  netif_2(D)->mib2_counters.ifinerrors = 0;
  # DEBUG BEGIN_STMT
  netif_2(D)->mib2_counters.ifinunknownprotos = 0;
  # DEBUG BEGIN_STMT
  netif_2(D)->mib2_counters.ifoutoctets = 0;
  # DEBUG BEGIN_STMT
  netif_2(D)->mib2_counters.ifoutucastpkts = 0;
  # DEBUG BEGIN_STMT
  netif_2(D)->mib2_counters.ifoutnucastpkts = 0;
  # DEBUG BEGIN_STMT
  netif_2(D)->mib2_counters.ifoutdiscards = 0;
  # DEBUG BEGIN_STMT
  netif_2(D)->mib2_counters.ifouterrors = 0;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  netif_2(D)->mtu = 1280;
  # DEBUG BEGIN_STMT
  netif_2(D)->flags = 2;
  # DEBUG BEGIN_STMT
  return 0;

}


lowpan6_input (struct pbuf * p, struct netif * netif)
{
  u16_t datagram_left;
  u16_t q_datagram_offset;
  struct pbuf * q;
  u16_t offset;
  u16_t q_datagram_offset;
  u16_t new_frag_len;
  struct pbuf * last;
  struct pbuf * q;
  struct lowpan6_reass_helper * lrh_prev;
  struct lowpan6_reass_helper * lrh_next;
  struct lowpan6_reass_helper * lrh;
  u16_t datagram_tag;
  u16_t datagram_offset;
  u16_t datagram_size;
  struct lowpan6_link_addr dest;
  struct lowpan6_link_addr src;
  s8_t i;
  u8_t b;
  u8_t * puc;
  long unsigned int _1;
  short unsigned int _2;
  long unsigned int _3;
  long unsigned int _4;
  short unsigned int _5;
  short unsigned int _6;
  signed char _7;
  int _8;
  int _9;
  signed short _10;
  signed short _11;
  unsigned char _12;
  signed short _13;
  signed short _14;
  unsigned char _15;
  int _16;
  int _17;
  signed short _18;
  unsigned char _19;
  signed short _20;
  signed short _21;
  unsigned char _22;
  unsigned char _23;
  u8_t[8] * _24;
  unsigned int _25;
  int _26;
  short unsigned int _27;
  short unsigned int _28;
  unsigned char _29;
  unsigned char _30;
  unsigned char i.28_31;
  unsigned char _32;
  int _33;
  int _34;
  void * _35;
  unsigned char _36;
  struct pbuf * _37;
  struct lowpan6_reass_helper * _38;
  int _43;
  signed short _44;
  signed short _45;
  unsigned char _46;
  signed short _47;
  signed short _48;
  unsigned char _49;
  int _50;
  int _51;
  signed short _52;
  unsigned char _53;
  signed short _54;
  signed short _55;
  unsigned char _56;
  short unsigned int _57;
  unsigned char _58;
  unsigned char _59;
  u8_t[8] * _60;
  unsigned int _62;
  int _63;
  short unsigned int _64;
  short unsigned int _65;
  struct pbuf * _66;
  struct pbuf * _67;
  short unsigned int _69;
  struct pbuf * _70;
  short unsigned int _71;
  void * _72;
  unsigned char _73;
  short unsigned int _74;
  short unsigned int _75;
  int _76;
  int _77;
  int _78;
  int _79;
  void * _80;
  unsigned char _81;
  short unsigned int _82;
  short unsigned int _83;
  short unsigned int _84;
  short unsigned int _85;
  struct pbuf * _86;
  long unsigned int _87;
  long unsigned int _88;
  long unsigned int _90;
  long unsigned int _91;
  long unsigned int _92;
  long unsigned int _93;
  long unsigned int _94;
  long unsigned int _95;
  err_t _109;
  unsigned char _121;
  unsigned char _133;
  err_t _137;
  unsigned char _149;
  err_t _173;

  <bb 2> [local count: 7858053]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG datagram_size => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG lrh_prev => 0B
  # DEBUG BEGIN_STMT
  if (p_123(D) == 0B)
    goto <bb 78>; [18.09%]
  else
    goto <bb 3>; [81.91%]

  <bb 3> [local count: 6436531]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = netif_125(D)->mib2_counters.ifinoctets;
  _2 = p_123(D)->tot_len;
  _3 = (long unsigned int) _2;
  _4 = _1 + _3;
  netif_125(D)->mib2_counters.ifinoctets = _4;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _5 = p_123(D)->len;
  if (_2 != _5)
    goto <bb 4>; [67.00%]
  else
    goto <bb 5>; [33.00%]

  <bb 4> [local count: 4312476]:
  # DEBUG BEGIN_STMT
  // predicted unlikely by goto predictor.
  goto <bb 77>; [100.00%]

  <bb 5> [local count: 2124055]:
  # DEBUG BEGIN_STMT
  _7 = lowpan6_parse_iee802154_header (p_123(D), &src, &dest);
  if (_7 != 0)
    goto <bb 6>; [34.00%]
  else
    goto <bb 7>; [66.00%]

  <bb 6> [local count: 722179]:
  # DEBUG BEGIN_STMT
  // predicted unlikely by goto predictor.
  goto <bb 77>; [100.00%]

  <bb 7> [local count: 1401876]:
  # DEBUG BEGIN_STMT
  puc_128 = p_123(D)->payload;
  # DEBUG puc => puc_128
  # DEBUG BEGIN_STMT
  b_129 = *puc_128;
  # DEBUG b => b_129
  # DEBUG BEGIN_STMT
  _8 = (int) b_129;
  _121 = b_129 & 248;
  if (_121 == 192)
    goto <bb 8>; [34.00%]
  else
    goto <bb 28>; [66.00%]

  <bb 8> [local count: 476638]:
  # DEBUG BEGIN_STMT
  _9 = _8 << 8;
  _10 = (signed short) _9;
  _11 = _10 & 1792;
  _12 = MEM[(u8_t *)puc_128 + 1B];
  _13 = (signed short) _12;
  _14 = _11 | _13;
  datagram_size_183 = (u16_t) _14;
  # DEBUG datagram_size => datagram_size_183
  # DEBUG BEGIN_STMT
  _15 = MEM[(u8_t *)puc_128 + 2B];
  _16 = (int) _15;
  _17 = _16 << 8;
  _18 = (signed short) _17;
  _19 = MEM[(u8_t *)puc_128 + 3B];
  _20 = (signed short) _19;
  _21 = _18 | _20;
  datagram_tag_184 = (u16_t) _21;
  # DEBUG datagram_tag => datagram_tag_184
  # DEBUG BEGIN_STMT
  lrh_185 = lowpan6_data.reass_list;
  # DEBUG lrh => lrh_185
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 9> [local count: 7567991]:
  # DEBUG BEGIN_STMT
  # DEBUG discard => 0
  # DEBUG BEGIN_STMT
  lrh_next_203 = lrh_98->next_packet;
  # DEBUG lrh_next => lrh_next_203
  # DEBUG BEGIN_STMT
  _22 = lrh_98->sender_addr.addr_len;
  _23 = src.addr_len;
  if (_22 == _23)
    goto <bb 10>; [34.00%]
  else
    goto <bb 15>; [66.00%]

  <bb 10> [local count: 2573117]:
  _24 = &lrh_98->sender_addr.addr;
  _25 = (unsigned int) _23;
  _26 = memcmp (_24, &src.addr, _25);
  if (_26 == 0)
    goto <bb 11>; [50.00%]
  else
    goto <bb 15>; [50.00%]

  <bb 11> [local count: 1286559]:
  # DEBUG BEGIN_STMT
  _27 = lrh_98->datagram_tag;
  if (_27 == datagram_tag_184)
    goto <bb 12>; [51.12%]
  else
    goto <bb 14>; [48.88%]

  <bb 12> [local count: 657689]:
  _28 = lrh_98->datagram_size;
  if (_28 == datagram_size_183)
    goto <bb 13>; [5.50%]
  else
    goto <bb 14>; [94.50%]

  <bb 13> [local count: 36173]:
  # DEBUG BEGIN_STMT
  // predicted unlikely by goto predictor.
  goto <bb 77>; [100.00%]

  <bb 14> [local count: 1250386]:
  # DEBUG discard => NULL
  # DEBUG BEGIN_STMT
  dequeue_datagram (lrh_98, lrh_prev_101);
  # DEBUG BEGIN_STMT
  free_reass_datagram (lrh_98);

  <bb 15> [local count: 7531818]:
  # lrh_110 = PHI <lrh_next_203(10), lrh_next_203(9), lrh_next_203(14)>
  # lrh_prev_100 = PHI <lrh_98(10), lrh_98(9), lrh_prev_101(14)>

  <bb 16> [local count: 8008456]:
  # lrh_98 = PHI <lrh_110(15), lrh_185(8)>
  # lrh_prev_101 = PHI <lrh_prev_100(15), 0B(8)>
  # DEBUG discard => NULL
  # DEBUG lrh_prev => lrh_prev_101
  # DEBUG lrh => lrh_98
  # DEBUG BEGIN_STMT
  if (lrh_98 != 0B)
    goto <bb 9>; [94.50%]
  else
    goto <bb 17>; [5.50%]

  <bb 17> [local count: 440465]:
  # DEBUG BEGIN_STMT
  pbuf_remove_header (p_123(D), 4);
  # DEBUG BEGIN_STMT
  lrh_188 = mem_malloc (28);
  # DEBUG lrh => lrh_188
  # DEBUG BEGIN_STMT
  if (lrh_188 == 0B)
    goto <bb 18>; [18.09%]
  else
    goto <bb 19>; [81.91%]

  <bb 18> [local count: 79680]:
  # DEBUG BEGIN_STMT
  // predicted unlikely by goto predictor.
  goto <bb 77>; [100.00%]

  <bb 19> [local count: 360785]:
  # DEBUG BEGIN_STMT
  _29 = src.addr_len;
  lrh_188->sender_addr.addr_len = _29;
  # DEBUG BEGIN_STMT
  # DEBUG i => 0
  goto <bb 21>; [100.00%]

  <bb 20> [local count: 2919078]:
  # DEBUG BEGIN_STMT
  _30 = src.addr[_33];
  lrh_188->sender_addr.addr[_33] = _30;
  # DEBUG BEGIN_STMT
  i.28_31 = (unsigned char) i_97;
  _32 = i.28_31 + 1;
  i_202 = (s8_t) _32;
  # DEBUG i => i_202

  <bb 21> [local count: 3279863]:
  # i_97 = PHI <0(19), i_202(20)>
  # DEBUG i => i_97
  # DEBUG BEGIN_STMT
  _33 = (int) i_97;
  _34 = (int) _29;
  if (_33 < _34)
    goto <bb 20>; [89.00%]
  else
    goto <bb 22>; [11.00%]

  <bb 22> [local count: 360785]:
  # DEBUG BEGIN_STMT
  lrh_188->datagram_size = datagram_size_183;
  # DEBUG BEGIN_STMT
  lrh_188->datagram_tag = datagram_tag_184;
  # DEBUG BEGIN_STMT
  lrh_188->frags = 0B;
  # DEBUG BEGIN_STMT
  _35 = p_123(D)->payload;
  _36 = MEM[(u8_t *)_35];
  if (_36 == 65)
    goto <bb 23>; [11.56%]
  else
    goto <bb 24>; [88.44%]

  <bb 23> [local count: 41707]:
  # DEBUG BEGIN_STMT
  pbuf_remove_header (p_123(D), 1);
  # DEBUG BEGIN_STMT
  lrh_188->reass = p_123(D);
  goto <bb 27>; [100.00%]

  <bb 24> [local count: 319078]:
  # DEBUG BEGIN_STMT
  _149 = _36 & 224;
  if (_149 == 96)
    goto <bb 25>; [33.00%]
  else
    goto <bb 27>; [67.00%]

  <bb 25> [local count: 105296]:
  # DEBUG BEGIN_STMT
  _37 = lowpan6_decompress (p_123(D), datagram_size_183, &lowpan6_data.lowpan6_context, &src, &dest);
  lrh_188->reass = _37;
  # DEBUG BEGIN_STMT
  if (_37 == 0B)
    goto <bb 26>; [17.43%]
  else
    goto <bb 27>; [82.57%]

  <bb 26> [local count: 18353]:
  # DEBUG BEGIN_STMT
  mem_free (lrh_188);
  # DEBUG BEGIN_STMT
  // predicted unlikely by goto predictor.
  goto <bb 77>; [100.00%]

  <bb 27> [local count: 342432]:
  # DEBUG BEGIN_STMT
  _38 = lowpan6_data.reass_list;
  lrh_188->next_packet = _38;
  # DEBUG BEGIN_STMT
  lrh_188->timer = 2;
  # DEBUG BEGIN_STMT
  lowpan6_data.reass_list = lrh_188;
  # DEBUG BEGIN_STMT
  goto <bb 78>; [100.00%]

  <bb 28> [local count: 925238]:
  # DEBUG BEGIN_STMT
  if (_121 == 224)
    goto <bb 29>; [20.24%]
  else
    goto <bb 70>; [79.76%]

  <bb 29> [local count: 187268]:
  # DEBUG BEGIN_STMT
  _43 = _8 << 8;
  _44 = (signed short) _43;
  _45 = _44 & 1792;
  _46 = MEM[(u8_t *)puc_128 + 1B];
  _47 = (signed short) _46;
  _48 = _45 | _47;
  datagram_size_138 = (u16_t) _48;
  # DEBUG datagram_size => datagram_size_138
  # DEBUG BEGIN_STMT
  _49 = MEM[(u8_t *)puc_128 + 2B];
  _50 = (int) _49;
  _51 = _50 << 8;
  _52 = (signed short) _51;
  _53 = MEM[(u8_t *)puc_128 + 3B];
  _54 = (signed short) _53;
  _55 = _52 | _54;
  datagram_tag_139 = (u16_t) _55;
  # DEBUG datagram_tag => datagram_tag_139
  # DEBUG BEGIN_STMT
  _56 = MEM[(u8_t *)puc_128 + 4B];
  _57 = (short unsigned int) _56;
  datagram_offset_140 = _57 << 3;
  # DEBUG datagram_offset => datagram_offset_140
  # DEBUG BEGIN_STMT
  pbuf_remove_header (p_123(D), 4);
  # DEBUG BEGIN_STMT
  lrh_142 = lowpan6_data.reass_list;
  # DEBUG lrh => lrh_142
  goto <bb 35>; [100.00%]

  <bb 30> [local count: 3050963]:
  # DEBUG BEGIN_STMT
  _58 = lrh_99->sender_addr.addr_len;
  _59 = src.addr_len;
  if (_58 == _59)
    goto <bb 31>; [34.00%]
  else
    goto <bb 34>; [66.00%]

  <bb 31> [local count: 1037327]:
  _60 = &lrh_99->sender_addr.addr;
  _62 = (unsigned int) _59;
  _63 = memcmp (_60, &src.addr, _62);
  if (_63 == 0)
    goto <bb 32>; [50.00%]
  else
    goto <bb 34>; [50.00%]

  <bb 32> [local count: 518664]:
  _64 = lrh_99->datagram_tag;
  if (_64 == datagram_tag_139)
    goto <bb 33>; [34.00%]
  else
    goto <bb 34>; [66.00%]

  <bb 33> [local count: 176346]:
  _65 = lrh_99->datagram_size;
  if (_65 == datagram_size_138)
    goto <bb 36>; [5.50%]
  else
    goto <bb 34>; [94.50%]

  <bb 34> [local count: 3041263]:
  # DEBUG BEGIN_STMT
  # DEBUG lrh_prev => lrh_99
  lrh_144 = lrh_99->next_packet;
  # DEBUG lrh => lrh_144

  <bb 35> [local count: 3228532]:
  # lrh_99 = PHI <lrh_142(29), lrh_144(34)>
  # lrh_prev_102 = PHI <0B(29), lrh_99(34)>
  # DEBUG lrh_prev => lrh_prev_102
  # DEBUG lrh => lrh_99
  # DEBUG BEGIN_STMT
  if (lrh_99 != 0B)
    goto <bb 30>; [94.50%]
  else
    goto <bb 36>; [5.50%]

  <bb 36> [local count: 187268]:
  # lrh_39 = PHI <lrh_99(33), lrh_99(35)>
  # lrh_prev_122 = PHI <lrh_prev_102(33), lrh_prev_102(35)>
  # DEBUG BEGIN_STMT
  if (lrh_39 == 0B)
    goto <bb 37>; [18.09%]
  else
    goto <bb 38>; [81.91%]

  <bb 37> [local count: 33877]:
  # DEBUG BEGIN_STMT
  // predicted unlikely by goto predictor.
  goto <bb 77>; [100.00%]

  <bb 38> [local count: 153391]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _66 = p_123(D)->next;
  if (_66 != 0B)
    goto <bb 79>; [70.00%]
  else
    goto <bb 40>; [30.00%]

  <bb 79> [local count: 107374]:

  <bb 39> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("BKPT #0
	");
  # DEBUG BEGIN_STMT

  <bb 81> [local count: 1073741824]:
  goto <bb 39>; [100.00%]

  <bb 40> [local count: 46017]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _67 = lrh_39->reass;
  if (_67 != 0B)
    goto <bb 41>; [70.00%]
  else
    goto <bb 43>; [30.00%]

  <bb 41> [local count: 32212]:
  # DEBUG BEGIN_STMT
  _69 = _67->len;
  if (_69 > datagram_offset_140)
    goto <bb 42>; [20.24%]
  else
    goto <bb 43>; [79.76%]

  <bb 42> [local count: 6520]:
  # DEBUG BEGIN_STMT
  dequeue_datagram (lrh_39, lrh_prev_122);
  # DEBUG BEGIN_STMT
  free_reass_datagram (lrh_39);
  # DEBUG BEGIN_STMT
  // predicted unlikely by goto predictor.
  goto <bb 77>; [100.00%]

  <bb 43> [local count: 39498]:
  # DEBUG BEGIN_STMT
  _70 = lrh_39->frags;
  if (_70 == 0B)
    goto <bb 44>; [30.00%]
  else
    goto <bb 45>; [70.00%]

  <bb 44> [local count: 11849]:
  # DEBUG BEGIN_STMT
  lrh_39->frags = p_123(D);
  goto <bb 58>; [100.00%]

  <bb 45> [local count: 27648]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _71 = p_123(D)->len;
  new_frag_len_147 = _71 + 65535;
  # DEBUG new_frag_len => new_frag_len_147
  # DEBUG BEGIN_STMT
  # DEBUG q => _70
  # DEBUG last => 0B
  goto <bb 54>; [100.00%]

  <bb 46> [local count: 251690]:
  # DEBUG BEGIN_STMT
  _72 = q_103->payload;
  _73 = MEM[(u8_t *)_72];
  _74 = (short unsigned int) _73;
  q_datagram_offset_150 = _74 << 3;
  # DEBUG q_datagram_offset => q_datagram_offset_150
  # DEBUG BEGIN_STMT
  _75 = q_103->len;
  # DEBUG q_frag_len => _75 + 65535
  # DEBUG BEGIN_STMT
  if (datagram_offset_140 < q_datagram_offset_150)
    goto <bb 47>; [3.66%]
  else
    goto <bb 49>; [96.34%]

  <bb 47> [local count: 9212]:
  # q_40 = PHI <q_103(46)>
  # last_41 = PHI <last_104(46)>
  # q_datagram_offset_68 = PHI <q_datagram_offset_150(46)>
  # DEBUG BEGIN_STMT
  _76 = (int) datagram_offset_140;
  _77 = (int) new_frag_len_147;
  _78 = _76 + _77;
  _79 = (int) q_datagram_offset_68;
  if (_78 > _79)
    goto <bb 48>; [20.24%]
  else
    goto <bb 55>; [79.76%]

  <bb 48> [local count: 1864]:
  # DEBUG BEGIN_STMT
  dequeue_datagram (lrh_39, lrh_prev_122);
  # DEBUG BEGIN_STMT
  free_reass_datagram (lrh_39);
  # DEBUG BEGIN_STMT
  // predicted unlikely by goto predictor.
  goto <bb 77>; [100.00%]

  <bb 49> [local count: 242478]:
  # DEBUG BEGIN_STMT
  if (datagram_offset_140 == q_datagram_offset_150)
    goto <bb 50>; [3.66%]
  else
    goto <bb 53>; [96.34%]

  <bb 50> [local count: 8875]:
  # _6 = PHI <_75(49)>
  # DEBUG BEGIN_STMT
  if (_6 != _71)
    goto <bb 51>; [66.00%]
  else
    goto <bb 52>; [34.00%]

  <bb 51> [local count: 5857]:
  # DEBUG BEGIN_STMT
  dequeue_datagram (lrh_39, lrh_prev_122);
  # DEBUG BEGIN_STMT
  free_reass_datagram (lrh_39);
  # DEBUG BEGIN_STMT
  // predicted unlikely by goto predictor.
  goto <bb 77>; [100.00%]

  <bb 52> [local count: 3017]:
  # DEBUG BEGIN_STMT
  pbuf_free (p_123(D));
  # DEBUG BEGIN_STMT
  goto <bb 78>; [100.00%]

  <bb 53> [local count: 233603]:
  # DEBUG BEGIN_STMT
  # DEBUG last => q_103
  q_151 = q_103->next;
  # DEBUG q => q_151

  <bb 54> [local count: 261252]:
  # q_103 = PHI <_70(45), q_151(53)>
  # last_104 = PHI <0B(45), q_103(53)>
  # DEBUG last => last_104
  # DEBUG q => q_103
  # DEBUG BEGIN_STMT
  if (q_103 != 0B)
    goto <bb 46>; [96.34%]
  else
    goto <bb 55>; [3.66%]

  <bb 55> [local count: 16909]:
  # q_89 = PHI <q_40(47), q_103(54)>
  # last_42 = PHI <last_41(47), last_104(54)>
  # DEBUG BEGIN_STMT
  if (last_42 == 0B)
    goto <bb 56>; [30.00%]
  else
    goto <bb 57>; [70.00%]

  <bb 56> [local count: 5073]:
  # DEBUG BEGIN_STMT
  lrh_39->frags = p_123(D);
  goto <bb 58>; [100.00%]

  <bb 57> [local count: 11836]:
  # DEBUG BEGIN_STMT
  last_42->next = p_123(D);
  # DEBUG BEGIN_STMT
  p_123(D)->next = q_89;

  <bb 58> [local count: 28758]:
  # DEBUG BEGIN_STMT
  if (_67 != 0B)
    goto <bb 59>; [81.91%]
  else
    goto <bb 78>; [18.09%]

  <bb 59> [local count: 23556]:
  # DEBUG BEGIN_STMT
  offset_161 = _67->len;
  # DEBUG offset => offset_161
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  q_162 = lrh_39->frags;
  # DEBUG q => q_162
  goto <bb 62>; [100.00%]

  <bb 60> [local count: 208091]:
  # DEBUG BEGIN_STMT
  _80 = q_106->payload;
  _81 = MEM[(u8_t *)_80];
  _82 = (short unsigned int) _81;
  q_datagram_offset_179 = _82 << 3;
  # DEBUG q_datagram_offset => q_datagram_offset_179
  # DEBUG BEGIN_STMT
  if (offset_105 != q_datagram_offset_179)
    goto <bb 78>; [5.50%]
  else
    goto <bb 61>; [94.50%]

  <bb 61> [local count: 196646]:
  # DEBUG BEGIN_STMT
  _83 = q_106->len;
  _84 = _83 + offset_105;
  offset_180 = _84 + 65535;
  # DEBUG offset => offset_180
  # DEBUG BEGIN_STMT
  q_181 = q_106->next;
  # DEBUG q => q_181

  <bb 62> [local count: 220202]:
  # offset_105 = PHI <offset_161(59), offset_180(61)>
  # q_106 = PHI <q_162(59), q_181(61)>
  # DEBUG q => q_106
  # DEBUG offset => offset_105
  # DEBUG BEGIN_STMT
  if (q_106 != 0B)
    goto <bb 60>; [94.50%]
  else
    goto <bb 63>; [5.50%]

  <bb 63> [local count: 12111]:
  # offset_61 = PHI <offset_105(62)>
  # DEBUG BEGIN_STMT
  if (offset_61 == datagram_size_138)
    goto <bb 64>; [50.00%]
  else
    goto <bb 78>; [50.00%]

  <bb 64> [local count: 6056]:
  # DEBUG BEGIN_STMT
  datagram_left_163 = datagram_size_138 - offset_161;
  # DEBUG datagram_left => datagram_left_163
  # DEBUG BEGIN_STMT
  # DEBUG q => q_162
  goto <bb 66>; [100.00%]

  <bb 65> [local count: 48995]:
  # DEBUG BEGIN_STMT
  pbuf_remove_header (q_107, 1);
  # DEBUG BEGIN_STMT
  q_107->tot_len = datagram_left_108;
  # DEBUG BEGIN_STMT
  _85 = q_107->len;
  datagram_left_177 = datagram_left_108 - _85;
  # DEBUG datagram_left => datagram_left_177
  # DEBUG BEGIN_STMT
  q_178 = q_107->next;
  # DEBUG q => q_178

  <bb 66> [local count: 55050]:
  # q_107 = PHI <q_162(64), q_178(65)>
  # datagram_left_108 = PHI <datagram_left_163(64), datagram_left_177(65)>
  # DEBUG datagram_left => datagram_left_108
  # DEBUG q => q_107
  # DEBUG BEGIN_STMT
  if (q_107 != 0B)
    goto <bb 65>; [89.00%]
  else
    goto <bb 67>; [11.00%]

  <bb 67> [local count: 6056]:
  # datagram_left_143 = PHI <datagram_left_108(66)>
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (datagram_left_143 != 0)
    goto <bb 80>; [79.76%]
  else
    goto <bb 69>; [20.24%]

  <bb 80> [local count: 4830]:

  <bb 68> [local count: 48299141]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("BKPT #0
	");
  # DEBUG BEGIN_STMT

  <bb 82> [local count: 48299141]:
  goto <bb 68>; [100.00%]

  <bb 69> [local count: 1226]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  q_164 = lrh_39->reass;
  # DEBUG q => q_164
  # DEBUG BEGIN_STMT
  q_164->tot_len = datagram_size_138;
  # DEBUG BEGIN_STMT
  _86 = lrh_39->frags;
  q_164->next = _86;
  # DEBUG BEGIN_STMT
  lrh_39->frags = 0B;
  # DEBUG BEGIN_STMT
  lrh_39->reass = 0B;
  # DEBUG BEGIN_STMT
  dequeue_datagram (lrh_39, lrh_prev_122);
  # DEBUG BEGIN_STMT
  mem_free (lrh_39);
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _87 = netif_125(D)->mib2_counters.ifinucastpkts;
  _88 = _87 + 1;
  netif_125(D)->mib2_counters.ifinucastpkts = _88;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _173 = ip6_input (q_164, netif_125(D));
  goto <bb 78>; [100.00%]

  <bb 70> [local count: 737970]:
  # DEBUG BEGIN_STMT
  if (b_129 == 65)
    goto <bb 71>; [11.56%]
  else
    goto <bb 72>; [88.44%]

  <bb 71> [local count: 85309]:
  # DEBUG BEGIN_STMT
  pbuf_remove_header (p_123(D), 1);
  goto <bb 76>; [100.00%]

  <bb 72> [local count: 652661]:
  # DEBUG BEGIN_STMT
  _133 = b_129 & 224;
  if (_133 == 96)
    goto <bb 73>; [33.00%]
  else
    goto <bb 75>; [67.00%]

  <bb 73> [local count: 215378]:
  # DEBUG BEGIN_STMT
  p_131 = lowpan6_decompress (p_123(D), 0, &lowpan6_data.lowpan6_context, &src, &dest);
  # DEBUG p => p_131
  # DEBUG BEGIN_STMT
  if (p_131 == 0B)
    goto <bb 74>; [30.00%]
  else
    goto <bb 76>; [70.00%]

  <bb 74> [local count: 64613]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _90 = netif_125(D)->mib2_counters.ifindiscards;
  _91 = _90 + 1;
  netif_125(D)->mib2_counters.ifindiscards = _91;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  goto <bb 78>; [100.00%]

  <bb 75> [local count: 437283]:
  # DEBUG BEGIN_STMT
  // predicted unlikely by goto predictor.
  goto <bb 77>; [100.00%]

  <bb 76> [local count: 236074]:
  # p_96 = PHI <p_123(D)(71), p_131(73)>
  # DEBUG p => p_96
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _92 = netif_125(D)->mib2_counters.ifinucastpkts;
  _93 = _92 + 1;
  netif_125(D)->mib2_counters.ifinucastpkts = _93;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _137 = ip6_input (p_96, netif_125(D));
  goto <bb 78>; [100.00%]

  <bb 77> [local count: 5654262]:
lowpan6_input_discard:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _94 = netif_125(D)->mib2_counters.ifindiscards;
  _95 = _94 + 1;
  netif_125(D)->mib2_counters.ifindiscards = _95;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pbuf_free (p_123(D));
  # DEBUG BEGIN_STMT

  <bb 78> [local count: 7745849]:
  # _109 = PHI <0(2), 0(27), 0(52), 0(60), _173(69), 0(63), 0(74), _137(76), 0(77), 0(58)>
  src ={v} {CLOBBER};
  dest ={v} {CLOBBER};
  return _109;

}


lowpan6_output (struct netif * netif, struct pbuf * q, const struct ip6_addr_t * ip6addr)
{
  struct ip6_hdr * ip6_hdr;
  struct ip6_addr_t ip6_src;
  struct lowpan6_link_addr dest;
  struct lowpan6_link_addr src;
  const u8_t * hwaddr;
  err_t result;
  long unsigned int _1;
  long unsigned int _2;
  long unsigned int _3;
  long unsigned int _4;
  long unsigned int _5;
  unsigned char _6;
  signed char _7;
  unsigned char _8;
  unsigned char _9;
  long unsigned int _10;
  long unsigned int _11;
  long unsigned int _12;
  long unsigned int _13;
  long unsigned int _14;
  long unsigned int _15;
  unsigned char _16;
  void * _17;
  unsigned char _18;
  unsigned char _19;
  long unsigned int _20;
  long unsigned int _21;
  long unsigned int _22;
  long unsigned int _23;
  signed char _24;
  long unsigned int _25;
  long unsigned int _26;
  long unsigned int _27;
  long unsigned int _28;
  const u8_t * hwaddr.8_29;
  unsigned char _30;
  unsigned int _31;
  long unsigned int _32;
  long unsigned int _33;
  u8_t iftmp.7_34;
  err_t _35;
  u8_t iftmp.7_47;
  err_t _63;
  err_t _70;
  err_t _74;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  ip6_hdr_41 = q_40(D)->payload;
  # DEBUG ip6_hdr => ip6_hdr_41
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = ip6_hdr_41->src.addr[0];
  ip6_src.addr[0] = _1;
  # DEBUG BEGIN_STMT
  _2 = ip6_hdr_41->src.addr[1];
  ip6_src.addr[1] = _2;
  # DEBUG BEGIN_STMT
  _3 = ip6_hdr_41->src.addr[2];
  ip6_src.addr[2] = _3;
  # DEBUG BEGIN_STMT
  _4 = ip6_hdr_41->src.addr[3];
  ip6_src.addr[3] = _4;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _5 = _1 & 49407;
  if (_5 == 33022)
    goto <bb 3>; [34.00%]
  else
    goto <bb 4>; [66.00%]

  <bb 3> [local count: 365072220]:
  _6 = netif_46(D)->num;
  iftmp.7_47 = _6 + 1;

  <bb 4> [local count: 1073741824]:
  # iftmp.7_34 = PHI <iftmp.7_47(3), 0(2)>
  ip6_src.zone = iftmp.7_34;
  # DEBUG BEGIN_STMT
  _7 = lowpan6_get_address_mode (&ip6_src, &short_mac_addr);
  if (_7 == 3)
    goto <bb 5>; [51.12%]
  else
    goto <bb 6>; [48.88%]

  <bb 5> [local count: 548896821]:
  # DEBUG BEGIN_STMT
  src.addr_len = 2;
  # DEBUG BEGIN_STMT
  _8 = short_mac_addr.addr[0];
  src.addr[0] = _8;
  # DEBUG BEGIN_STMT
  _9 = short_mac_addr.addr[1];
  src.addr[1] = _9;
  goto <bb 8>; [100.00%]

  <bb 6> [local count: 524845004]:
  # DEBUG BEGIN_STMT
  result_51 = lowpan6_hwaddr_to_addr (netif_46(D), &src);
  # DEBUG result => result_51
  # DEBUG BEGIN_STMT
  if (result_51 != 0)
    goto <bb 7>; [34.00%]
  else
    goto <bb 8>; [66.00%]

  <bb 7> [local count: 178447301]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _10 = netif_46(D)->mib2_counters.ifoutdiscards;
  _11 = _10 + 1;
  netif_46(D)->mib2_counters.ifoutdiscards = _11;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  goto <bb 19>; [100.00%]

  <bb 8> [local count: 895294522]:
  # DEBUG BEGIN_STMT
  _12 = ip6addr_56(D)->addr[0];
  _13 = _12 & 255;
  if (_13 == 255)
    goto <bb 9>; [11.56%]
  else
    goto <bb 10>; [88.44%]

  <bb 9> [local count: 103496047]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _14 = netif_46(D)->mib2_counters.ifoutnucastpkts;
  _15 = _14 + 1;
  netif_46(D)->mib2_counters.ifoutnucastpkts = _15;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _74 = lowpan6_frag (netif_46(D), q_40(D), &src, &ieee_802154_broadcast);
  goto <bb 19>; [100.00%]

  <bb 10> [local count: 791798475]:
  # DEBUG BEGIN_STMT
  _16 = src.addr_len;
  if (_16 == 2)
    goto <bb 11>; [51.12%]
  else
    goto <bb 15>; [48.88%]

  <bb 11> [local count: 404767380]:
  # DEBUG BEGIN_STMT
  dest.addr_len = 2;
  # DEBUG BEGIN_STMT
  _17 = q_40(D)->payload;
  _18 = MEM[(u8_t *)_17 + 38B];
  dest.addr[0] = _18;
  # DEBUG BEGIN_STMT
  _19 = MEM[(u8_t *)_17 + 39B];
  dest.addr[1] = _19;
  # DEBUG BEGIN_STMT
  _20 = ip6_hdr_41->src.addr[0];
  _21 = ip6_hdr_41->dest.addr[0];
  if (_20 == _21)
    goto <bb 12>; [34.00%]
  else
    goto <bb 15>; [66.00%]

  <bb 12> [local count: 137620909]:
  _22 = ip6_hdr_41->src.addr[1];
  _23 = ip6_hdr_41->dest.addr[1];
  if (_22 == _23)
    goto <bb 13>; [20.24%]
  else
    goto <bb 15>; [79.76%]

  <bb 13> [local count: 27854472]:
  _24 = lowpan6_get_address_mode (ip6addr_56(D), &dest);
  if (_24 == 3)
    goto <bb 14>; [11.56%]
  else
    goto <bb 15>; [88.44%]

  <bb 14> [local count: 3219977]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _25 = netif_46(D)->mib2_counters.ifoutucastpkts;
  _26 = _25 + 1;
  netif_46(D)->mib2_counters.ifoutucastpkts = _26;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _63 = lowpan6_frag (netif_46(D), q_40(D), &src, &dest);
  goto <bb 19>; [100.00%]

  <bb 15> [local count: 788578498]:
  # DEBUG BEGIN_STMT
  result_65 = nd6_get_next_hop_addr_or_queue (netif_46(D), q_40(D), ip6addr_56(D), &hwaddr);
  # DEBUG result => result_65
  # DEBUG BEGIN_STMT
  if (result_65 != 0)
    goto <bb 16>; [34.00%]
  else
    goto <bb 17>; [66.00%]

  <bb 16> [local count: 268116689]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _27 = netif_46(D)->mib2_counters.ifoutdiscards;
  _28 = _27 + 1;
  netif_46(D)->mib2_counters.ifoutdiscards = _28;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  goto <bb 19>; [100.00%]

  <bb 17> [local count: 520461808]:
  # DEBUG BEGIN_STMT
  hwaddr.8_29 = hwaddr;
  if (hwaddr.8_29 == 0B)
    goto <bb 19>; [30.95%]
  else
    goto <bb 18>; [69.05%]

  <bb 18> [local count: 359378878]:
  # DEBUG BEGIN_STMT
  _30 = netif_46(D)->hwaddr_len;
  dest.addr_len = _30;
  # DEBUG BEGIN_STMT
  _31 = (unsigned int) _30;
  memcpy (&dest.addr, hwaddr.8_29, _31);
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _32 = netif_46(D)->mib2_counters.ifoutucastpkts;
  _33 = _32 + 1;
  netif_46(D)->mib2_counters.ifoutucastpkts = _33;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _70 = lowpan6_frag (netif_46(D), q_40(D), &src, &dest);

  <bb 19> [local count: 1073741822]:
  # _35 = PHI <result_51(7), _74(9), _63(14), result_65(16), 0(17), _70(18)>
  hwaddr ={v} {CLOBBER};
  src ={v} {CLOBBER};
  dest ={v} {CLOBBER};
  ip6_src ={v} {CLOBBER};
  return _35;

}


lowpan6_hwaddr_to_addr (struct netif * netif, struct lowpan6_link_addr * addr)
{
  unsigned char _1;
  err_t _2;
  u8_t[8] * _4;
  u8_t[6] * _5;
  u8_t * _6;
  u8_t * _7;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  addr_9(D)->addr_len = 8;
  # DEBUG BEGIN_STMT
  _1 = netif_11(D)->hwaddr_len;
  if (_1 == 8)
    goto <bb 5>; [0.54%]
  else
    goto <bb 3>; [99.46%]

  <bb 3> [local count: 1067943619]:
  # DEBUG BEGIN_STMT
  if (_1 == 6)
    goto <bb 4>; [96.02%]
  else
    goto <bb 5>; [3.98%]

  <bb 4> [local count: 1025439463]:
  # DEBUG BEGIN_STMT
  _4 = &addr_9(D)->addr;
  _5 = &netif_11(D)->hwaddr;
  memcpy (_4, _5, 3);
  # DEBUG BEGIN_STMT
  addr_9(D)->addr[4] = 255;
  addr_9(D)->addr[3] = 255;
  # DEBUG BEGIN_STMT
  _6 = &addr_9(D)->addr[5];
  _7 = &netif_11(D)->hwaddr[3];
  memcpy (_6, _7, 3);
  # DEBUG BEGIN_STMT

  <bb 5> [local count: 1073741824]:
  # _2 = PHI <-6(2), -6(3), 0(4)>
  return _2;

}


lowpan6_set_short_addr (u8_t addr_high, u8_t addr_low)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  short_mac_addr.addr[0] = addr_high_2(D);
  # DEBUG BEGIN_STMT
  short_mac_addr.addr[1] = addr_low_4(D);
  # DEBUG BEGIN_STMT
  return 0;

}


lowpan6_set_context (u8_t idx, const struct ip6_addr_t * context)
{
  int _1;
  err_t _2;
  const long unsigned int iftmp.2_3;
  const long unsigned int iftmp.3_4;
  const long unsigned int iftmp.4_5;
  const long unsigned int iftmp.5_6;
  u8_t iftmp.6_7;
  const long unsigned int iftmp.2_12;
  const long unsigned int iftmp.3_14;
  const long unsigned int iftmp.4_16;
  const long unsigned int iftmp.5_18;
  u8_t iftmp.6_20;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  if (idx_9(D) > 9)
    goto <bb 14>; [1.04%]
  else
    goto <bb 3>; [98.96%]

  <bb 3> [local count: 1062574910]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (context_10(D) != 0B)
    goto <bb 4>; [70.00%]
  else
    goto <bb 5>; [30.00%]

  <bb 4> [local count: 743802437]:
  iftmp.2_12 = context_10(D)->addr[0];

  <bb 5> [local count: 1062574910]:
  # iftmp.2_3 = PHI <iftmp.2_12(4), 0(3)>
  _1 = (int) idx_9(D);
  lowpan6_data.lowpan6_context[_1].addr[0] = iftmp.2_3;
  # DEBUG BEGIN_STMT
  if (context_10(D) != 0B)
    goto <bb 6>; [70.00%]
  else
    goto <bb 7>; [30.00%]

  <bb 6> [local count: 743802437]:
  iftmp.3_14 = context_10(D)->addr[1];

  <bb 7> [local count: 1062574910]:
  # iftmp.3_4 = PHI <iftmp.3_14(6), 0(5)>
  lowpan6_data.lowpan6_context[_1].addr[1] = iftmp.3_4;
  # DEBUG BEGIN_STMT
  if (context_10(D) != 0B)
    goto <bb 8>; [70.00%]
  else
    goto <bb 9>; [30.00%]

  <bb 8> [local count: 743802437]:
  iftmp.4_16 = context_10(D)->addr[2];

  <bb 9> [local count: 1062574910]:
  # iftmp.4_5 = PHI <iftmp.4_16(8), 0(7)>
  lowpan6_data.lowpan6_context[_1].addr[2] = iftmp.4_5;
  # DEBUG BEGIN_STMT
  if (context_10(D) != 0B)
    goto <bb 10>; [70.00%]
  else
    goto <bb 11>; [30.00%]

  <bb 10> [local count: 743802437]:
  iftmp.5_18 = context_10(D)->addr[3];

  <bb 11> [local count: 1062574910]:
  # iftmp.5_6 = PHI <iftmp.5_18(10), 0(9)>
  lowpan6_data.lowpan6_context[_1].addr[3] = iftmp.5_6;
  # DEBUG BEGIN_STMT
  if (context_10(D) != 0B)
    goto <bb 12>; [70.00%]
  else
    goto <bb 13>; [30.00%]

  <bb 12> [local count: 743802437]:
  iftmp.6_20 = context_10(D)->zone;

  <bb 13> [local count: 1062574910]:
  # iftmp.6_7 = PHI <iftmp.6_20(12), 0(11)>
  lowpan6_data.lowpan6_context[_1].zone = iftmp.6_7;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 14> [local count: 1073741824]:
  # _2 = PHI <-16(2), 0(13)>
  return _2;

}


lowpan6_frag (struct netif * netif, struct pbuf * p, const struct lowpan6_link_addr * src, const struct lowpan6_link_addr * dst)
{
  err_t (*<T6b9>) (struct netif *, struct pbuf *) _1;
  signed char _3;

  <bb 2> [local count: 230763]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG err => -12
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = netif_6(D)->linkoutput;
  if (_1 == 0B)
    goto <bb 5>; [46.53%]
  else
    goto <bb 4>; [53.47%]

  <bb 5> [local count: 107374]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("BKPT #0
	");
  # DEBUG BEGIN_STMT

  <bb 6> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

  <bb 4> [local count: 123389]:
  _3 = lowpan6_frag.part.0 (netif_6(D), p_9(D), src_7(D), dst_8(D));
  return _3;

}


lowpan6_tmr ()
{
  struct lowpan6_reass_helper * lrh_prev;
  struct lowpan6_reass_helper * lrh_next;
  struct lowpan6_reass_helper * lrh;
  unsigned char _1;
  unsigned char _2;

  <bb 2> [local count: 118111602]:
  # DEBUG BEGIN_STMT
  # DEBUG lrh_prev => 0B
  # DEBUG BEGIN_STMT
  lrh_10 = lowpan6_data.reass_list;
  # DEBUG lrh => lrh_10
  # DEBUG BEGIN_STMT
  goto <bb 8>; [100.00%]

  <bb 3> [local count: 955630223]:
  # DEBUG BEGIN_STMT
  lrh_next_11 = lrh_4->next_packet;
  # DEBUG lrh_next => lrh_next_11
  # DEBUG BEGIN_STMT
  _1 = lrh_4->timer;
  _2 = _1 + 255;
  lrh_4->timer = _2;
  if (_2 == 0)
    goto <bb 4>; [33.00%]
  else
    goto <bb 6>; [67.00%]

  <bb 4> [local count: 315357973]:
  # DEBUG BEGIN_STMT
  dequeue_datagram (lrh_4, lrh_prev_6);
  # DEBUG BEGIN_STMT
  free_reass_datagram (lrh_4);

  <bb 6> [local count: 955630223]:
  # lrh_7 = PHI <lrh_next_11(4), lrh_next_11(3)>
  # lrh_prev_5 = PHI <lrh_prev_6(4), lrh_4(3)>

  <bb 8> [local count: 1073741824]:
  # lrh_4 = PHI <lrh_7(6), lrh_10(2)>
  # lrh_prev_6 = PHI <lrh_prev_5(6), 0B(2)>
  # DEBUG lrh_prev => lrh_prev_6
  # DEBUG lrh => lrh_4
  # DEBUG BEGIN_STMT
  if (lrh_4 != 0B)
    goto <bb 3>; [89.00%]
  else
    goto <bb 7>; [11.00%]

  <bb 7> [local count: 118111601]:
  return;

}


dequeue_datagram (struct lowpan6_reass_helper * lrh, struct lowpan6_reass_helper * prev)
{
  struct lowpan6_reass_helper * _1;
  struct lowpan6_reass_helper * _2;
  struct lowpan6_reass_helper * _3;

  <bb 2> [local count: 511305]:
  # DEBUG BEGIN_STMT
  _1 = lowpan6_data.reass_list;
  if (_1 == lrh_7(D))
    goto <bb 3>; [30.00%]
  else
    goto <bb 4>; [70.00%]

  <bb 3> [local count: 153391]:
  # DEBUG BEGIN_STMT
  _2 = _1->next_packet;
  lowpan6_data.reass_list = _2;
  goto <bb 7>; [100.00%]

  <bb 4> [local count: 357913]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (prev_8(D) == 0B)
    goto <bb 8>; [30.00%]
  else
    goto <bb 6>; [70.00%]

  <bb 8> [local count: 107374]:

  <bb 5> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("BKPT #0
	");
  # DEBUG BEGIN_STMT

  <bb 9> [local count: 1073741824]:
  goto <bb 5>; [100.00%]

  <bb 6> [local count: 250539]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _3 = lrh_7(D)->next_packet;
  prev_8(D)->next_packet = _3;

  <bb 7> [local count: 403931]:
  return;

}


free_reass_datagram (struct lowpan6_reass_helper * lrh)
{
  struct pbuf * _1;
  struct pbuf * _2;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _1 = lrh_6(D)->reass;
  if (_1 != 0B)
    goto <bb 3>; [53.47%]
  else
    goto <bb 4>; [46.53%]

  <bb 3> [local count: 574129754]:
  # DEBUG BEGIN_STMT
  pbuf_free (_1);

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _2 = lrh_6(D)->frags;
  if (_2 != 0B)
    goto <bb 5>; [53.47%]
  else
    goto <bb 6>; [46.53%]

  <bb 5> [local count: 574129754]:
  # DEBUG BEGIN_STMT
  pbuf_free (_2);

  <bb 6> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  mem_free (lrh_6(D));
  return;

}


lowpan6_calc_crc (const void * buf, u16_t len)
{
  u8_t data;
  const u8_t * p;
  u16_t crc;
  u8_t b;
  u16_t i;
  int _1;
  int _2;
  int _3;
  int _4;
  short unsigned int _5;

  <bb 2> [local count: 14744043]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG crc => 0
  # DEBUG BEGIN_STMT
  # DEBUG p => buf_14(D)
  # DEBUG BEGIN_STMT
  # DEBUG i => 0
  goto <bb 10>; [100.00%]

  <bb 3> [local count: 119292716]:
  # DEBUG BEGIN_STMT
  data_18 = *p_12;
  # DEBUG data => data_18
  # DEBUG BEGIN_STMT
  # DEBUG b => 0
  goto <bb 8>; [100.00%]

  <bb 4> [local count: 954449108]:
  # DEBUG BEGIN_STMT
  _1 = (int) data_13;
  _2 = (int) crc_10;
  _3 = _1 ^ _2;
  _4 = _3 & 1;
  if (_4 != 0)
    goto <bb 5>; [50.00%]
  else
    goto <bb 6>; [50.00%]

  <bb 5> [local count: 477224554]:
  # DEBUG BEGIN_STMT
  _5 = crc_10 >> 1;
  crc_22 = _5 ^ 33800;
  # DEBUG crc => crc_22
  goto <bb 7>; [100.00%]

  <bb 6> [local count: 477224554]:
  # DEBUG BEGIN_STMT
  crc_21 = crc_10 >> 1;
  # DEBUG crc => crc_21

  <bb 7> [local count: 954449108]:
  # crc_9 = PHI <crc_22(5), crc_21(6)>
  # DEBUG crc => crc_9
  # DEBUG BEGIN_STMT
  data_23 = data_13 >> 1;
  # DEBUG data => data_23
  # DEBUG BEGIN_STMT
  b_24 = b_8 + 1;
  # DEBUG b => b_24

  <bb 8> [local count: 1073741824]:
  # b_8 = PHI <0(3), b_24(7)>
  # crc_10 = PHI <crc_11(3), crc_9(7)>
  # data_13 = PHI <data_18(3), data_23(7)>
  # DEBUG data => data_13
  # DEBUG crc => crc_10
  # DEBUG b => b_8
  # DEBUG BEGIN_STMT
  if (b_8 != 8)
    goto <bb 4>; [88.89%]
  else
    goto <bb 9>; [11.11%]

  <bb 9> [local count: 119292717]:
  # crc_16 = PHI <crc_10(8)>
  # DEBUG BEGIN_STMT
  p_19 = p_12 + 1;
  # DEBUG p => p_19
  # DEBUG BEGIN_STMT
  i_20 = i_7 + 1;
  # DEBUG i => i_20

  <bb 10> [local count: 134036760]:
  # i_7 = PHI <0(2), i_20(9)>
  # crc_11 = PHI <0(2), crc_16(9)>
  # p_12 = PHI <buf_14(D)(2), p_19(9)>
  # DEBUG p => p_12
  # DEBUG crc => crc_11
  # DEBUG i => i_7
  # DEBUG BEGIN_STMT
  if (i_7 < len_15(D))
    goto <bb 3>; [89.00%]
  else
    goto <bb 11>; [11.00%]

  <bb 11> [local count: 14744044]:
  # crc_6 = PHI <crc_11(10)>
  # DEBUG BEGIN_STMT
  return crc_6;

}


lowpan6_parse_iee802154_header (struct pbuf * p, struct lowpan6_link_addr * src, struct lowpan6_link_addr * dest)
{
  u16_t datagram_offset;
  u16_t addr_mode;
  u16_t frame_control;
  s8_t i;
  u8_t * puc;
  unsigned char _1;
  signed short _2;
  unsigned char _3;
  int _4;
  int _5;
  signed short _6;
  signed short _7;
  int _8;
  int _9;
  int _10;
  int _11;
  sizetype _12;
  u8_t * _13;
  unsigned char _14;
  unsigned char i.31_15;
  unsigned char _16;
  sizetype _17;
  sizetype _18;
  u8_t * _19;
  unsigned char _20;
  u8_t * _21;
  unsigned char _22;
  int _23;
  int _24;
  int _25;
  int _26;
  sizetype _27;
  u8_t * _28;
  unsigned char _29;
  unsigned char i.33_30;
  unsigned char _31;
  unsigned int _32;
  unsigned char _33;
  short unsigned int _39;
  err_t _40;
  short unsigned int _44;
  short unsigned int _64;

  <bb 2> [local count: 124000356]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  puc_48 = p_47(D)->payload;
  # DEBUG puc => puc_48
  # DEBUG BEGIN_STMT
  _1 = *puc_48;
  _2 = (signed short) _1;
  _3 = MEM[(u8_t *)puc_48 + 1B];
  _4 = (int) _3;
  _5 = _4 << 8;
  _6 = (signed short) _5;
  _7 = _2 | _6;
  frame_control_49 = (u16_t) _7;
  # DEBUG frame_control => frame_control_49
  # DEBUG BEGIN_STMT
  # DEBUG datagram_offset => 2
  # DEBUG BEGIN_STMT
  _44 = frame_control_49 & 256;
  if (_44 != 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 4>; [50.00%]

  <bb 3> [local count: 62000178]:
  # DEBUG BEGIN_STMT
  _39 = frame_control_49 & 8192;
  if (_39 == 0)
    goto <bb 19>; [1.04%]
  else
    goto <bb 4>; [98.96%]

  <bb 4> [local count: 123355555]:
  # datagram_offset_36 = PHI <2(3), 3(2)>
  # DEBUG datagram_offset => datagram_offset_36
  # DEBUG BEGIN_STMT
  datagram_offset_50 = datagram_offset_36 + 2;
  # DEBUG datagram_offset => datagram_offset_50
  # DEBUG BEGIN_STMT
  addr_mode_51 = frame_control_49 & 3072;
  # DEBUG addr_mode => addr_mode_51
  # DEBUG BEGIN_STMT
  if (addr_mode_51 == 3072)
    goto <bb 5>; [34.00%]
  else
    goto <bb 9>; [66.00%]

  <bb 5> [local count: 41940889]:
  # DEBUG BEGIN_STMT
  dest_52(D)->addr_len = 8;
  # DEBUG BEGIN_STMT
  # DEBUG i => 0
  goto <bb 7>; [100.00%]

  <bb 6> [local count: 335564860]:
  # DEBUG BEGIN_STMT
  _8 = (int) datagram_offset_50;
  _9 = _8 + 7;
  _10 = (int) i_34;
  _11 = _9 - _10;
  _12 = (sizetype) _11;
  _13 = puc_48 + _12;
  _14 = *_13;
  dest_52(D)->addr[_10] = _14;
  # DEBUG BEGIN_STMT
  i.31_15 = (unsigned char) i_34;
  _16 = i.31_15 + 1;
  i_60 = (s8_t) _16;
  # DEBUG i => i_60

  <bb 7> [local count: 377505749]:
  # i_34 = PHI <0(5), i_60(6)>
  # DEBUG i => i_34
  # DEBUG BEGIN_STMT
  if (i_34 != 8)
    goto <bb 6>; [88.89%]
  else
    goto <bb 8>; [11.11%]

  <bb 8> [local count: 41940889]:
  # DEBUG BEGIN_STMT
  datagram_offset_58 = datagram_offset_36 + 10;
  # DEBUG datagram_offset => datagram_offset_58
  goto <bb 11>; [100.00%]

  <bb 9> [local count: 81414666]:
  # DEBUG BEGIN_STMT
  if (addr_mode_51 == 2048)
    goto <bb 10>; [98.00%]
  else
    goto <bb 19>; [2.00%]

  <bb 10> [local count: 79786373]:
  # DEBUG BEGIN_STMT
  dest_52(D)->addr_len = 2;
  # DEBUG BEGIN_STMT
  _17 = (sizetype) datagram_offset_50;
  _18 = _17 + 1;
  _19 = puc_48 + _18;
  _20 = *_19;
  dest_52(D)->addr[0] = _20;
  # DEBUG BEGIN_STMT
  _21 = puc_48 + _17;
  _22 = *_21;
  dest_52(D)->addr[1] = _22;
  # DEBUG BEGIN_STMT
  datagram_offset_56 = datagram_offset_36 + 4;
  # DEBUG datagram_offset => datagram_offset_56

  <bb 11> [local count: 121727261]:
  # datagram_offset_37 = PHI <datagram_offset_58(8), datagram_offset_56(10)>
  # DEBUG datagram_offset => datagram_offset_37
  # DEBUG BEGIN_STMT
  _64 = frame_control_49 & 64;
  if (_64 == 0)
    goto <bb 12>; [50.00%]
  else
    goto <bb 13>; [50.00%]

  <bb 12> [local count: 60863631]:
  # DEBUG BEGIN_STMT
  datagram_offset_61 = datagram_offset_37 + 2;
  # DEBUG datagram_offset => datagram_offset_61

  <bb 13> [local count: 121727261]:
  # datagram_offset_38 = PHI <datagram_offset_37(11), datagram_offset_61(12)>
  # DEBUG datagram_offset => datagram_offset_38
  # DEBUG BEGIN_STMT
  addr_mode_62 = frame_control_49 & 49152;
  # DEBUG addr_mode => addr_mode_62
  # DEBUG BEGIN_STMT
  if (addr_mode_62 == 49152)
    goto <bb 14>; [98.00%]
  else
    goto <bb 19>; [2.00%]

  <bb 14> [local count: 119292716]:
  # DEBUG BEGIN_STMT
  src_63(D)->addr_len = 8;
  # DEBUG BEGIN_STMT
  # DEBUG i => 0
  goto <bb 16>; [100.00%]

  <bb 15> [local count: 954449108]:
  # DEBUG BEGIN_STMT
  _23 = (int) datagram_offset_38;
  _24 = _23 + 7;
  _25 = (int) i_35;
  _26 = _24 - _25;
  _27 = (sizetype) _26;
  _28 = puc_48 + _27;
  _29 = *_28;
  src_63(D)->addr[_25] = _29;
  # DEBUG BEGIN_STMT
  i.33_30 = (unsigned char) i_35;
  _31 = i.33_30 + 1;
  i_68 = (s8_t) _31;
  # DEBUG i => i_68

  <bb 16> [local count: 1073741824]:
  # i_35 = PHI <0(14), i_68(15)>
  # DEBUG i => i_35
  # DEBUG BEGIN_STMT
  if (i_35 != 8)
    goto <bb 15>; [88.89%]
  else
    goto <bb 17>; [11.11%]

  <bb 17> [local count: 119292717]:
  # DEBUG BEGIN_STMT
  datagram_offset_66 = datagram_offset_38 + 8;
  # DEBUG datagram_offset => datagram_offset_66
  # DEBUG BEGIN_STMT
  _32 = (unsigned int) datagram_offset_66;
  _33 = pbuf_remove_header (p_47(D), _32);
  if (_33 != 0)
    goto <bb 18>; [1.04%]
  else
    goto <bb 19>; [98.96%]

  <bb 18> [local count: 1240644]:
  # DEBUG BEGIN_STMT

  <bb 19> [local count: 124000357]:
  # _40 = PHI <-6(3), -6(9), -6(13), -6(18), 0(17)>
  return _40;

}


lowpan6_write_iee802154_header (struct ieee_802154_hdr * hdr, const struct lowpan6_link_addr * src, const struct lowpan6_link_addr * dst)
{
  u16_t fc;
  u8_t i;
  u8_t ieee_header_len;
  unsigned char _1;
  unsigned char _3;
  unsigned char _5;
  unsigned char _6;
  short unsigned int _7;
  int _8;
  sizetype _9;
  u8_t * _10;
  unsigned char _11;
  int _12;
  sizetype _13;
  u8_t * _14;
  unsigned char _15;

  <bb 2> [local count: 246497]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG fc => 1
  # DEBUG BEGIN_STMT
  # DEBUG fc => 65
  # DEBUG BEGIN_STMT
  if (dst_27(D) != &ieee_802154_broadcast)
    goto <bb 3>; [70.00%]
  else
    goto <bb 4>; [30.00%]

  <bb 3> [local count: 172548]:
  # DEBUG BEGIN_STMT
  # DEBUG fc => 97

  <bb 4> [local count: 246497]:
  # fc_20 = PHI <65(2), 97(3)>
  # DEBUG fc => fc_20
  # DEBUG BEGIN_STMT
  _1 = dst_27(D)->addr_len;
  if (_1 == 2)
    goto <bb 5>; [34.00%]
  else
    goto <bb 6>; [66.00%]

  <bb 5> [local count: 83809]:
  # DEBUG BEGIN_STMT
  fc_31 = fc_20 | 2048;
  # DEBUG fc => fc_31
  goto <bb 9>; [100.00%]

  <bb 6> [local count: 162688]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (_1 != 8)
    goto <bb 22>; [66.00%]
  else
    goto <bb 8>; [34.00%]

  <bb 22> [local count: 107374]:

  <bb 7> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("BKPT #0
	");
  # DEBUG BEGIN_STMT

  <bb 24> [local count: 1073741824]:
  goto <bb 7>; [100.00%]

  <bb 8> [local count: 55314]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  fc_29 = fc_20 | 3072;
  # DEBUG fc => fc_29

  <bb 9> [local count: 139123]:
  # fc_21 = PHI <fc_31(5), fc_29(8)>
  # DEBUG fc => fc_21
  # DEBUG BEGIN_STMT
  _3 = src_32(D)->addr_len;
  if (_3 == 2)
    goto <bb 10>; [34.00%]
  else
    goto <bb 11>; [66.00%]

  <bb 10> [local count: 47302]:
  # DEBUG BEGIN_STMT
  fc_35 = fc_21 | 32768;
  # DEBUG fc => fc_35
  goto <bb 14>; [100.00%]

  <bb 11> [local count: 91821]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (_3 != 8)
    goto <bb 21>; [66.00%]
  else
    goto <bb 13>; [34.00%]

  <bb 21> [local count: 60602]:

  <bb 12> [local count: 606019887]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("BKPT #0
	");
  # DEBUG BEGIN_STMT

  <bb 23> [local count: 606019887]:
  goto <bb 12>; [100.00%]

  <bb 13> [local count: 31219]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  fc_33 = fc_21 | 49152;
  # DEBUG fc => fc_33

  <bb 14> [local count: 78521]:
  # fc_22 = PHI <fc_35(10), fc_33(13)>
  # DEBUG fc => fc_22
  # DEBUG BEGIN_STMT
  hdr_36(D)->frame_control = fc_22;
  # DEBUG BEGIN_STMT
  _5 = lowpan6_data.tx_frame_seq_num;
  _6 = _5 + 1;
  lowpan6_data.tx_frame_seq_num = _6;
  hdr_36(D)->sequence_number = _5;
  # DEBUG BEGIN_STMT
  _7 = lowpan6_data.ieee_802154_pan_id;
  hdr_36(D)->destination_pan_id = _7;
  # DEBUG BEGIN_STMT
  # DEBUG buffer => hdr_36(D)
  # DEBUG BEGIN_STMT
  # DEBUG ieee_header_len => 5
  # DEBUG BEGIN_STMT
  # DEBUG i => _1
  # DEBUG BEGIN_STMT
  goto <bb 16>; [100.00%]

  <bb 15> [local count: 635305]:
  # DEBUG BEGIN_STMT
  _8 = (int) i_41;
  ieee_header_len_46 = ieee_header_len_16 + 1;
  # DEBUG ieee_header_len => ieee_header_len_46
  _9 = (sizetype) ieee_header_len_16;
  _10 = hdr_36(D) + _9;
  _11 = dst_27(D)->addr[_8];
  *_10 = _11;

  <bb 16> [local count: 713826]:
  # ieee_header_len_16 = PHI <5(14), ieee_header_len_46(15)>
  # i_18 = PHI <_1(14), i_41(15)>
  # DEBUG i => i_18
  # DEBUG ieee_header_len => ieee_header_len_16
  # DEBUG BEGIN_STMT
  i_41 = i_18 + 255;
  # DEBUG i => i_41
  if (i_18 != 0)
    goto <bb 15>; [89.00%]
  else
    goto <bb 17>; [11.00%]

  <bb 17> [local count: 78521]:
  # ieee_header_len_2 = PHI <ieee_header_len_16(16)>
  # DEBUG BEGIN_STMT
  i_42 = src_32(D)->addr_len;
  # DEBUG i => i_42
  # DEBUG BEGIN_STMT
  goto <bb 19>; [100.00%]

  <bb 18> [local count: 635305]:
  # DEBUG BEGIN_STMT
  _12 = (int) i_43;
  ieee_header_len_44 = ieee_header_len_17 + 1;
  # DEBUG ieee_header_len => ieee_header_len_44
  _13 = (sizetype) ieee_header_len_17;
  _14 = hdr_36(D) + _13;
  _15 = src_32(D)->addr[_12];
  *_14 = _15;

  <bb 19> [local count: 713826]:
  # ieee_header_len_17 = PHI <ieee_header_len_2(17), ieee_header_len_44(18)>
  # i_19 = PHI <i_42(17), i_43(18)>
  # DEBUG i => i_19
  # DEBUG ieee_header_len => ieee_header_len_17
  # DEBUG BEGIN_STMT
  i_43 = i_19 + 255;
  # DEBUG i => i_43
  if (i_19 != 0)
    goto <bb 18>; [89.00%]
  else
    goto <bb 20>; [11.00%]

  <bb 20> [local count: 78521]:
  # ieee_header_len_4 = PHI <ieee_header_len_17(19)>
  # DEBUG BEGIN_STMT
  return ieee_header_len_4;

}


