Parsed function:lwip_itoa
Parsed function:lwip_strnicmp
Parsed function:lwip_stricmp
Parsed function:lwip_strnstr
Parsed function:lwip_htonl
Parsed function:lwip_htons
Dump after hash based groups
Congruence classes: 6 (unique hash values: 6), with total: 6 items
Class size histogram [num of members]: number of classe number of classess
[1]: 6 classes


Dump after WPA based types groups
Congruence classes: 6 (unique hash values: 6), with total: 6 items
Class size histogram [num of members]: number of classe number of classess
[1]: 6 classes


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 6 (unique hash values: 6), with total: 6 items
Class size histogram [num of members]: number of classe number of classess
[1]: 6 classes


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 6 (unique hash values: 6), with total: 6 items
Class size histogram [num of members]: number of classe number of classess
[1]: 6 classes


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Congruence classes: 6 (unique hash values: 6), with total: 6 items
Class size histogram [num of members]: number of classe number of classess
[1]: 6 classes



Item count: 6
Congruent classes before: 6, after: 6
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

lwip_itoa (char * result, size_t bufsize, int number)
{
  char val;
  int n;
  char * tmp;
  char * res;
  sizetype _1;
  int _2;
  char _3;
  char _4;
  char * _5;
  int _6;
  unsigned int _7;

  <bb 2> [local count: 155979810]:
  # DEBUG BEGIN_STMT
  # DEBUG res => result_15(D)
  # DEBUG BEGIN_STMT
  _1 = bufsize_17(D) + 4294967295;
  tmp_18 = result_15(D) + _1;
  # DEBUG tmp => tmp_18
  # DEBUG BEGIN_STMT
  n_20 = ABS_EXPR <number_19(D)>;
  # DEBUG n => n_20
  # DEBUG BEGIN_STMT
  if (bufsize_17(D) <= 1)
    goto <bb 3>; [26.36%]
  else
    goto <bb 6>; [73.64%]

  <bb 3> [local count: 41116278]:
  # DEBUG BEGIN_STMT
  if (bufsize_17(D) == 1)
    goto <bb 4>; [34.00%]
  else
    goto <bb 5>; [66.00%]

  <bb 4> [local count: 13979534]:
  # DEBUG BEGIN_STMT
  *result_15(D) = 0;

  <bb 5> [local count: 41116278]:
  # DEBUG BEGIN_STMT
  goto <bb 17>; [100.00%]

  <bb 6> [local count: 114863532]:
  # DEBUG BEGIN_STMT
  if (number_19(D) < 0)
    goto <bb 7>; [41.00%]
  else
    goto <bb 8>; [59.00%]

  <bb 7> [local count: 47094048]:
  # DEBUG BEGIN_STMT
  res_22 = result_15(D) + 1;
  # DEBUG res => res_22
  *result_15(D) = 45;

  <bb 8> [local count: 114863532]:
  # res_8 = PHI <result_15(D)(6), res_22(7)>
  # DEBUG res => res_8
  # DEBUG BEGIN_STMT
  *tmp_18 = 0;
  # DEBUG BEGIN_STMT
  goto <bb 10>; [100.00%]

  <bb 9> [local count: 958878293]:
  # DEBUG BEGIN_STMT
  _2 = n_10 % 10;
  _3 = (char) _2;
  val_25 = _3 + 48;
  # DEBUG val => val_25
  # DEBUG BEGIN_STMT
  tmp_26 = tmp_9 + 4294967295;
  # DEBUG tmp => tmp_26
  # DEBUG BEGIN_STMT
  *tmp_26 = val_25;
  # DEBUG BEGIN_STMT
  n_28 = n_10 / 10;
  # DEBUG n => n_28

  <bb 10> [local count: 1073741824]:
  # tmp_9 = PHI <tmp_18(8), tmp_26(9)>
  # n_10 = PHI <n_20(8), n_28(9)>
  # DEBUG n => n_10
  # DEBUG tmp => tmp_9
  # DEBUG BEGIN_STMT
  if (n_10 != 0)
    goto <bb 11>; [94.50%]
  else
    goto <bb 12>; [5.50%]

  <bb 11> [local count: 1014686025]:
  if (res_8 < tmp_9)
    goto <bb 9>; [94.50%]
  else
    goto <bb 12>; [5.50%]

  <bb 12> [local count: 114863532]:
  # tmp_31 = PHI <tmp_9(10), tmp_9(11)>
  # n_16 = PHI <n_10(10), n_10(11)>
  # DEBUG BEGIN_STMT
  if (n_16 != 0)
    goto <bb 13>; [34.00%]
  else
    goto <bb 14>; [66.00%]

  <bb 13> [local count: 39053601]:
  # DEBUG BEGIN_STMT
  *result_15(D) = 0;
  # DEBUG BEGIN_STMT
  goto <bb 17>; [100.00%]

  <bb 14> [local count: 75809931]:
  # DEBUG BEGIN_STMT
  _4 = *tmp_31;
  if (_4 == 0)
    goto <bb 15>; [51.12%]
  else
    goto <bb 16>; [48.88%]

  <bb 15> [local count: 38754037]:
  # DEBUG BEGIN_STMT
  # DEBUG D#1 => res_8 + 1
  # DEBUG res => D#1
  *res_8 = 48;
  # DEBUG BEGIN_STMT
  # DEBUG res => D#1 + 1
  MEM[(char *)res_8 + 1B] = 0;
  # DEBUG BEGIN_STMT
  goto <bb 17>; [100.00%]

  <bb 16> [local count: 37055894]:
  # DEBUG BEGIN_STMT
  _5 = result_15(D) + bufsize_17(D);
  _6 = _5 - tmp_31;
  _7 = (unsigned int) _6;
  memmove (res_8, tmp_31, _7);

  <bb 17> [local count: 155979810]:
  return;

}


lwip_strnicmp (const char * str1, const char * str2, size_t len)
{
  char c2_upc;
  char c1_upc;
  char c2;
  char c1;
  char _1;
  int _5;

  <bb 2> [local count: 94599502]:

  <bb 3> [local count: 1073741824]:
  # str1_2 = PHI <str1_6(D)(2), str1_9(9)>
  # str2_3 = PHI <str2_7(D)(2), str2_12(9)>
  # len_4 = PHI <len_8(D)(2), len_16(9)>
  # DEBUG len => len_4
  # DEBUG str2 => str2_3
  # DEBUG str1 => str1_2
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  str1_9 = str1_2 + 1;
  # DEBUG str1 => str1_9
  c1_11 = *str1_2;
  # DEBUG c1 => c1_11
  # DEBUG BEGIN_STMT
  str2_12 = str2_3 + 1;
  # DEBUG str2 => str2_12
  c2_13 = *str2_3;
  # DEBUG c2 => c2_13
  # DEBUG BEGIN_STMT
  if (c1_11 != c2_13)
    goto <bb 4>; [66.00%]
  else
    goto <bb 6>; [34.00%]

  <bb 4> [local count: 708669604]:
  # DEBUG BEGIN_STMT
  c1_upc_14 = c1_11 | 32;
  # DEBUG c1_upc => c1_upc_14
  # DEBUG BEGIN_STMT
  _1 = c1_upc_14 + 159;
  if (_1 <= 25)
    goto <bb 5>; [97.25%]
  else
    goto <bb 8>; [2.75%]

  <bb 5> [local count: 689181190]:
  # DEBUG BEGIN_STMT
  c2_upc_15 = c2_13 | 32;
  # DEBUG c2_upc => c2_upc_15
  # DEBUG BEGIN_STMT
  if (c1_upc_14 != c2_upc_15)
    goto <bb 8>; [2.75%]
  else
    goto <bb 6>; [97.25%]

  <bb 6> [local count: 1035300928]:
  # DEBUG BEGIN_STMT
  len_16 = len_4 + 4294967295;
  # DEBUG len => len_16
  # DEBUG BEGIN_STMT
  if (len_16 != 0)
    goto <bb 7>; [97.25%]
  else
    goto <bb 8>; [2.75%]

  <bb 7> [local count: 1006830152]:
  if (c1_11 != 0)
    goto <bb 9>; [97.25%]
  else
    goto <bb 8>; [2.75%]

  <bb 9> [local count: 979142319]:
  goto <bb 3>; [100.00%]

  <bb 8> [local count: 94599502]:
  # _5 = PHI <1(5), 1(4), 0(7), 0(6)>
  return _5;

}


lwip_stricmp (const char * str1, const char * str2)
{
  char c2_upc;
  char c1_upc;
  char c2;
  char c1;
  char _1;
  int _4;

  <bb 2> [local count: 88360394]:

  <bb 3> [local count: 1073741824]:
  # str1_2 = PHI <str1_5(D)(2), str1_7(8)>
  # str2_3 = PHI <str2_6(D)(2), str2_10(8)>
  # DEBUG str2 => str2_3
  # DEBUG str1 => str1_2
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  str1_7 = str1_2 + 1;
  # DEBUG str1 => str1_7
  c1_9 = *str1_2;
  # DEBUG c1 => c1_9
  # DEBUG BEGIN_STMT
  str2_10 = str2_3 + 1;
  # DEBUG str2 => str2_10
  c2_11 = *str2_3;
  # DEBUG c2 => c2_11
  # DEBUG BEGIN_STMT
  if (c1_9 != c2_11)
    goto <bb 4>; [66.00%]
  else
    goto <bb 6>; [34.00%]

  <bb 4> [local count: 708669605]:
  # DEBUG BEGIN_STMT
  c1_upc_12 = c1_9 | 32;
  # DEBUG c1_upc => c1_upc_12
  # DEBUG BEGIN_STMT
  _1 = c1_upc_12 + 159;
  if (_1 <= 25)
    goto <bb 5>; [96.34%]
  else
    goto <bb 7>; [3.66%]

  <bb 5> [local count: 682732297]:
  # DEBUG BEGIN_STMT
  c2_upc_13 = c2_11 | 32;
  # DEBUG c2_upc => c2_upc_13
  # DEBUG BEGIN_STMT
  if (c1_upc_12 != c2_upc_13)
    goto <bb 7>; [3.66%]
  else
    goto <bb 6>; [96.34%]

  <bb 6> [local count: 1022816516]:
  # DEBUG BEGIN_STMT
  if (c1_9 != 0)
    goto <bb 8>; [96.34%]
  else
    goto <bb 7>; [3.66%]

  <bb 8> [local count: 985381430]:
  goto <bb 3>; [100.00%]

  <bb 7> [local count: 88360394]:
  # _4 = PHI <1(5), 1(4), 0(6)>
  return _4;

}


lwip_strnstr (const char * buffer, const char * token, size_t n)
{
  size_t tokenlen;
  const char * p;
  char _2;
  int _3;
  char _4;
  const char * _5;
  const char * _6;
  char * _8;

  <bb 2> [local count: 135698530]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  tokenlen_11 = strlen (token_10(D));
  # DEBUG tokenlen => tokenlen_11
  # DEBUG BEGIN_STMT
  if (tokenlen_11 == 0)
    goto <bb 9>; [34.00%]
  else
    goto <bb 10>; [66.00%]

  <bb 10> [local count: 89561029]:
  goto <bb 7>; [100.00%]

  <bb 3> [local count: 996582264]:
  # DEBUG BEGIN_STMT
  _2 = *token_10(D);
  if (_2 == _4)
    goto <bb 4>; [34.00%]
  else
    goto <bb 6>; [66.00%]

  <bb 4> [local count: 338837970]:
  _3 = strncmp (p_7, token_10(D), tokenlen_11);
  if (_3 == 0)
    goto <bb 5>; [3.66%]
  else
    goto <bb 6>; [96.34%]

  <bb 5> [local count: 12401470]:
  # p_1 = PHI <p_7(4)>
  # DEBUG BEGIN_STMT
  goto <bb 9>; [100.00%]

  <bb 6> [local count: 984180795]:
  # DEBUG BEGIN_STMT
  p_14 = p_7 + 1;
  # DEBUG p => p_14

  <bb 7> [local count: 1073741824]:
  # p_7 = PHI <p_14(6), buffer_12(D)(10)>
  # DEBUG p => p_7
  # DEBUG BEGIN_STMT
  _4 = *p_7;
  if (_4 != 0)
    goto <bb 8>; [96.34%]
  else
    goto <bb 9>; [3.66%]

  <bb 8> [local count: 1034442874]:
  _5 = p_7 + tokenlen_11;
  _6 = buffer_12(D) + n_13(D);
  if (_5 <= _6)
    goto <bb 3>; [96.34%]
  else
    goto <bb 9>; [3.66%]

  <bb 9> [local count: 135698530]:
  # _8 = PHI <buffer_12(D)(2), p_1(5), 0B(8), 0B(7)>
  return _8;

}


lwip_htonl (u32_t n)
{
  long unsigned int _1;
  long unsigned int _2;
  long unsigned int _3;
  long unsigned int _4;
  long unsigned int _5;
  long unsigned int _6;
  long unsigned int _7;
  long unsigned int _8;
  u32_t _10;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _1 = n_9(D) << 24;
  _2 = n_9(D) << 8;
  _3 = _2 & 16711680;
  _4 = _1 | _3;
  _5 = n_9(D) >> 8;
  _6 = _5 & 65280;
  _7 = _4 | _6;
  _8 = n_9(D) >> 24;
  _10 = _7 | _8;
  return _10;

}


lwip_htons (u16_t n)
{
  int _1;
  int _2;
  signed short _3;
  short unsigned int _4;
  signed short _5;
  signed short _6;
  u16_t _8;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _1 = (int) n_7(D);
  _2 = _1 << 8;
  _3 = (signed short) _2;
  _4 = n_7(D) >> 8;
  _5 = (signed short) _4;
  _6 = _3 | _5;
  _8 = (u16_t) _6;
  return _8;

}


