Parsed function:ip4addr_ntoa_r
Parsed function:ip4addr_ntoa
Parsed function:ip4addr_aton
Parsed function:ipaddr_addr
Parsed function:ip4_addr_netmask_valid
Parsed function:ip4_addr_isbroadcast_u32
Dump after hash based groups
Congruence classes: 8 (unique hash values: 8), with total: 8 items
Class size histogram [num of members]: number of classe number of classess
[1]: 8 classes


Dump after WPA based types groups
Congruence classes: 8 (unique hash values: 8), with total: 8 items
Class size histogram [num of members]: number of classe number of classess
[1]: 8 classes


Worklist has been filled with: 2
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 8 (unique hash values: 8), with total: 8 items
Class size histogram [num of members]: number of classe number of classess
[1]: 8 classes


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 8 (unique hash values: 8), with total: 8 items
Class size histogram [num of members]: number of classe number of classess
[1]: 8 classes


Worklist has been filled with: 2
Address reference subdivision created: 0 new classes.
Congruence classes: 8 (unique hash values: 8), with total: 8 items
Class size histogram [num of members]: number of classe number of classess
[1]: 8 classes



Item count: 8
Congruent classes before: 8, after: 8
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

ip4addr_ntoa_r (const struct ip4_addr_t * addr, char * buf, int buflen)
{
  int len;
  u8_t i;
  u8_t n;
  u8_t rem;
  u8_t * ap;
  char * rp;
  char inv[3];
  u32_t s_addr;
  long unsigned int _1;
  unsigned char _2;
  unsigned char _4;
  int _6;
  char _7;
  int _8;
  char _9;
  char * _18;

  <bb 2> [local count: 86685056]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG len => 0
  # DEBUG BEGIN_STMT
  _1 = addr_24(D)->addr;
  s_addr = _1;
  # DEBUG BEGIN_STMT
  # DEBUG rp => buf_26(D)
  # DEBUG BEGIN_STMT
  # DEBUG ap => &s_addr
  # DEBUG BEGIN_STMT
  # DEBUG n => 0
  goto <bb 9>; [100.00%]

  <bb 13> [local count: 114863531]:

  <bb 3> [local count: 1044213928]:
  # i_14 = PHI <0(13), i_31(14)>
  # DEBUG i => i_14
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _2 = *ap_12;
  rem_29 = _2 % 10;
  # DEBUG rem => rem_29
  # DEBUG BEGIN_STMT
  _4 = _2 / 10;
  *ap_12 = _4;
  # DEBUG BEGIN_STMT
  i_31 = i_14 + 1;
  # DEBUG i => i_31
  _6 = (int) i_14;
  _7 = rem_29 + 48;
  inv[_6] = _7;
  # DEBUG BEGIN_STMT
  if (_4 != 0)
    goto <bb 14>; [89.00%]
  else
    goto <bb 12>; [11.00%]

  <bb 14> [local count: 929350397]:
  goto <bb 3>; [100.00%]

  <bb 12> [local count: 114863531]:
  goto <bb 6>; [100.00%]

  <bb 4> [local count: 1014686025]:
  # DEBUG BEGIN_STMT
  len_40 = len_16 + 1;
  # DEBUG len => len_40
  if (len_16 >= buflen_35(D))
    goto <bb 11>; [5.50%]
  else
    goto <bb 5>; [94.50%]

  <bb 5> [local count: 958878293]:
  # DEBUG BEGIN_STMT
  _8 = (int) i_33;
  rp_41 = rp_10 + 1;
  # DEBUG rp => rp_41
  _9 = inv[_8];
  *rp_10 = _9;

  <bb 6> [local count: 1073741824]:
  # rp_10 = PHI <rp_41(5), rp_11(12)>
  # i_15 = PHI <i_33(5), i_31(12)>
  # len_16 = PHI <len_40(5), len_17(12)>
  # DEBUG len => len_16
  # DEBUG i => i_15
  # DEBUG rp => rp_10
  # DEBUG BEGIN_STMT
  i_33 = i_15 + 255;
  # DEBUG i => i_33
  if (i_15 != 0)
    goto <bb 4>; [94.50%]
  else
    goto <bb 7>; [5.50%]

  <bb 7> [local count: 59055800]:
  # rp_27 = PHI <rp_10(6)>
  # len_5 = PHI <len_16(6)>
  # DEBUG BEGIN_STMT
  len_34 = len_5 + 1;
  # DEBUG len => len_34
  if (len_5 >= buflen_35(D))
    goto <bb 11>; [3.66%]
  else
    goto <bb 8>; [96.34%]

  <bb 8> [local count: 56894358]:
  # DEBUG BEGIN_STMT
  rp_36 = rp_27 + 1;
  # DEBUG rp => rp_36
  *rp_27 = 46;
  # DEBUG BEGIN_STMT
  ap_38 = ap_12 + 1;
  # DEBUG ap => ap_38
  # DEBUG BEGIN_STMT
  n_39 = n_13 + 1;
  # DEBUG n => n_39

  <bb 9> [local count: 143579414]:
  # rp_11 = PHI <buf_26(D)(2), rp_36(8)>
  # ap_12 = PHI <&s_addr(2), ap_38(8)>
  # n_13 = PHI <0(2), n_39(8)>
  # len_17 = PHI <0(2), len_34(8)>
  # DEBUG len => len_17
  # DEBUG n => n_13
  # DEBUG ap => ap_12
  # DEBUG rp => rp_11
  # DEBUG BEGIN_STMT
  if (n_13 != 4)
    goto <bb 13>; [80.00%]
  else
    goto <bb 10>; [20.00%]

  <bb 10> [local count: 28715883]:
  # rp_3 = PHI <rp_11(9)>
  # DEBUG BEGIN_STMT
  # DEBUG rp => rp_3 + 4294967295
  MEM[(char *)rp_3 + 4294967295B] = 0;
  # DEBUG BEGIN_STMT

  <bb 11> [local count: 86685056]:
  # _18 = PHI <0B(4), 0B(7), buf_26(D)(10)>
  s_addr ={v} {CLOBBER};
  inv ={v} {CLOBBER};
  return _18;

}


ip4addr_ntoa (const struct ip4_addr_t * addr)
{
  static char str[16];
  char * _4;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _4 = ip4addr_ntoa_r (addr_2(D), &str, 16);
  return _4;

}


ip4addr_aton (const char * cp, struct ip4_addr_t * addr)
{
  u32_t * pp;
  u32_t parts[4];
  char c;
  u8_t base;
  u32_t val;
  sizetype _1;
  sizetype _2;
  const char * _3;
  char _4;
  sizetype _5;
  sizetype _6;
  const char * _7;
  char _8;
  int _9;
  int _10;
  long unsigned int _11;
  long unsigned int _12;
  long unsigned int _13;
  long unsigned int _14;
  char _16;
  char _17;
  long unsigned int _20;
  int _21;
  int _22;
  int _27;
  long unsigned int _28;
  int _29;
  int _30;
  int _31;
  long unsigned int _32;
  long unsigned int _33;
  long unsigned int _34;
  long unsigned int _35;
  long unsigned int _36;
  long unsigned int _37;
  long unsigned int _38;
  long unsigned int _39;
  long unsigned int _40;
  long unsigned int _41;
  long unsigned int _42;
  long unsigned int _43;
  long unsigned int _44;
  long unsigned int _45;
  long unsigned int _46;
  long unsigned int _47;
  int _56;
  int iftmp.0_57;
  char _61;
  char _65;
  char _66;
  char _69;
  char _70;

  <bb 2> [local count: 6688392]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pp => &parts
  # DEBUG BEGIN_STMT
  c_64 = *cp_63(D);
  # DEBUG c => c_64

  <bb 3> [local count: 22008869]:
  # cp_48 = PHI <cp_63(D)(2), cp_88(21)>
  # c_53 = PHI <c_64(2), c_89(21)>
  # pp_55 = PHI <&parts(2), pp_86(21)>
  # DEBUG pp => pp_55
  # DEBUG c => c_53
  # DEBUG cp => cp_48
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = (sizetype) c_53;
  _2 = _1 + 1;
  _3 = &_ctype_ + _2;
  _4 = *_3;
  _61 = _4 & 4;
  if (_61 == 0)
    goto <bb 40>; [3.66%]
  else
    goto <bb 4>; [96.34%]

  <bb 4> [local count: 21203344]:
  # DEBUG BEGIN_STMT
  # DEBUG val => 0
  # DEBUG BEGIN_STMT
  # DEBUG base => 10
  # DEBUG BEGIN_STMT
  if (c_53 == 48)
    goto <bb 5>; [34.00%]
  else
    goto <bb 8>; [66.00%]

  <bb 5> [local count: 7209137]:
  # DEBUG BEGIN_STMT
  cp_67 = cp_48 + 1;
  # DEBUG cp => cp_67
  c_68 = MEM[(const char *)cp_48 + 1B];
  # DEBUG c => c_68
  # DEBUG BEGIN_STMT
  if (c_68 == 120)
    goto <bb 7>; [34.00%]
  else
    goto <bb 6>; [66.00%]

  <bb 6> [local count: 4758030]:
  if (c_68 == 88)
    goto <bb 7>; [34.00%]
  else
    goto <bb 8>; [66.00%]

  <bb 7> [local count: 4068837]:
  # DEBUG BEGIN_STMT
  # DEBUG base => 16
  # DEBUG BEGIN_STMT
  cp_71 = &MEM[(void *)cp_48 + 2B];
  # DEBUG cp => cp_71
  c_72 = MEM[(const char *)cp_48 + 2B];
  # DEBUG c => c_72

  <bb 8> [local count: 21203344]:
  # cp_91 = PHI <cp_48(4), cp_71(7), cp_67(6)>
  # base_93 = PHI <10(4), 16(7), 8(6)>
  # c_94 = PHI <c_53(4), c_72(7), c_68(6)>
  # DEBUG base => NULL
  goto <bb 10>; [100.00%]

  <bb 9> [local count: 481815093]:
  # cp_15 = PHI <cp_74(18), cp_77(13)>
  # val_52 = PHI <val_73(18), val_76(13)>
  # c_92 = PHI <c_75(18), c_78(13)>

  <bb 10> [local count: 503018436]:
  # cp_49 = PHI <cp_15(9), cp_91(8)>
  # val_50 = PHI <val_52(9), 0(8)>
  # c_54 = PHI <c_92(9), c_94(8)>
  # DEBUG c => c_54
  # DEBUG base => base_93
  # DEBUG val => val_50
  # DEBUG cp => cp_49
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _5 = (sizetype) c_54;
  _6 = _5 + 1;
  _7 = &_ctype_ + _6;
  _8 = *_7;
  _65 = _8 & 4;
  if (_65 != 0)
    goto <bb 11>; [50.00%]
  else
    goto <bb 14>; [50.00%]

  <bb 11> [local count: 251509218]:
  # DEBUG BEGIN_STMT
  if (base_93 == 8)
    goto <bb 12>; [34.00%]
  else
    goto <bb 13>; [66.00%]

  <bb 12> [local count: 85513134]:
  _9 = (int) c_54;
  _10 = _9 + -48;
  _11 = (long unsigned int) _10;
  if (_11 > 7)
    goto <bb 19>; [3.66%]
  else
    goto <bb 13>; [96.34%]

  <bb 13> [local count: 248379438]:
  # DEBUG BEGIN_STMT
  _12 = (long unsigned int) base_93;
  _13 = _12 * val_50;
  _14 = _5 + _13;
  val_76 = _14 + 4294967248;
  # DEBUG val => val_76
  # DEBUG BEGIN_STMT
  cp_77 = cp_49 + 1;
  # DEBUG cp => cp_77
  c_78 = *cp_77;
  # DEBUG c => c_78
  goto <bb 9>; [100.00%]

  <bb 14> [local count: 251509218]:
  # DEBUG BEGIN_STMT
  if (base_93 == 16)
    goto <bb 15>; [96.34%]
  else
    goto <bb 19>; [3.66%]

  <bb 15> [local count: 242303981]:
  _66 = _8 & 68;
  if (_66 != 0)
    goto <bb 16>; [96.34%]
  else
    goto <bb 19>; [3.66%]

  <bb 16> [local count: 233435655]:
  # DEBUG BEGIN_STMT
  _20 = val_50 << 4;
  _21 = (int) c_54;
  _22 = _21 + 10;
  _69 = _8 & 3;
  if (_69 == 2)
    goto <bb 18>; [34.00%]
  else
    goto <bb 17>; [66.00%]

  <bb 17> [local count: 154067532]:

  <bb 18> [local count: 233435655]:
  # iftmp.0_57 = PHI <97(16), 65(17)>
  _27 = _22 - iftmp.0_57;
  _28 = (long unsigned int) _27;
  val_73 = _20 | _28;
  # DEBUG val => val_73
  # DEBUG BEGIN_STMT
  cp_74 = cp_49 + 1;
  # DEBUG cp => cp_74
  c_75 = *cp_74;
  # DEBUG c => c_75
  goto <bb 9>; [100.00%]

  <bb 19> [local count: 21203344]:
  # _16 = PHI <_8(12), _8(14), _8(15)>
  # cp_18 = PHI <cp_49(12), cp_49(14), cp_49(15)>
  # val_19 = PHI <val_50(12), val_50(14), val_50(15)>
  # c_24 = PHI <c_54(12), c_54(14), c_54(15)>
  # DEBUG BEGIN_STMT
  if (c_24 == 46)
    goto <bb 20>; [96.34%]
  else
    goto <bb 22>; [3.66%]

  <bb 20> [local count: 20427301]:
  # DEBUG BEGIN_STMT
  if (&MEM[(void *)&parts + 12B] <= pp_55)
    goto <bb 40>; [25.00%]
  else
    goto <bb 21>; [75.00%]

  <bb 21> [local count: 15320476]:
  # DEBUG BEGIN_STMT
  pp_86 = pp_55 + 4;
  # DEBUG pp => pp_86
  *pp_55 = val_19;
  # DEBUG BEGIN_STMT
  cp_88 = cp_18 + 1;
  # DEBUG cp => cp_88
  c_89 = MEM[(const char *)cp_18 + 1B];
  # DEBUG c => c_89
  # DEBUG BEGIN_STMT
  goto <bb 3>; [100.00%]

  <bb 22> [local count: 776042]:
  # _17 = PHI <_16(19)>
  # val_23 = PHI <val_19(19)>
  # c_25 = PHI <c_24(19)>
  # pp_26 = PHI <pp_55(19)>
  # DEBUG BEGIN_STMT
  if (c_25 != 0)
    goto <bb 23>; [50.00%]
  else
    goto <bb 24>; [50.00%]

  <bb 23> [local count: 388021]:
  _70 = _17 & 8;
  if (_70 == 0)
    goto <bb 40>; [34.00%]
  else
    goto <bb 24>; [66.00%]

  <bb 24> [local count: 644115]:
  # DEBUG BEGIN_STMT
  _29 = pp_26 - &parts;
  _30 = _29 /[ex] 4;
  _31 = _30 + 1;
  switch (_31) <default: <L65> [16.67%], case 0: <L61> [16.67%], case 1: <L59> [16.67%], case 2: <L32> [16.67%], case 3: <L37> [16.67%], case 4: <L43> [16.67%]>

  <bb 41> [local count: 107352]:
<L65>:
  goto <bb 37>; [100.00%]

  <bb 25> [local count: 107374]:
<L32>:
  # DEBUG BEGIN_STMT
  if (val_23 > 16777215)
    goto <bb 40>; [34.00%]
  else
    goto <bb 26>; [66.00%]

  <bb 26> [local count: 70867]:
  # DEBUG BEGIN_STMT
  _32 = parts[0];
  if (_32 > 255)
    goto <bb 40>; [34.00%]
  else
    goto <bb 27>; [66.00%]

  <bb 27> [local count: 46772]:
  # DEBUG BEGIN_STMT
  _33 = _32 << 24;
  val_81 = val_23 | _33;
  # DEBUG val => val_81
  # DEBUG BEGIN_STMT
  goto <bb 38>; [100.00%]

  <bb 28> [local count: 107374]:
<L37>:
  # DEBUG BEGIN_STMT
  if (val_23 > 65535)
    goto <bb 40>; [34.00%]
  else
    goto <bb 29>; [66.00%]

  <bb 29> [local count: 70867]:
  # DEBUG BEGIN_STMT
  _34 = parts[0];
  if (_34 > 255)
    goto <bb 40>; [34.00%]
  else
    goto <bb 30>; [66.00%]

  <bb 30> [local count: 46772]:
  _35 = parts[1];
  if (_35 > 255)
    goto <bb 40>; [34.00%]
  else
    goto <bb 31>; [66.00%]

  <bb 31> [local count: 30870]:
  # DEBUG BEGIN_STMT
  _36 = _34 << 24;
  _37 = _35 << 16;
  _38 = _36 | _37;
  val_80 = val_23 | _38;
  # DEBUG val => val_80
  # DEBUG BEGIN_STMT
  goto <bb 38>; [100.00%]

  <bb 32> [local count: 107374]:
<L43>:
  # DEBUG BEGIN_STMT
  if (val_23 > 255)
    goto <bb 40>; [34.00%]
  else
    goto <bb 33>; [66.00%]

  <bb 33> [local count: 70867]:
  # DEBUG BEGIN_STMT
  _39 = parts[0];
  if (_39 > 255)
    goto <bb 40>; [34.00%]
  else
    goto <bb 34>; [66.00%]

  <bb 34> [local count: 46772]:
  _40 = parts[1];
  if (_40 > 255)
    goto <bb 40>; [34.00%]
  else
    goto <bb 35>; [66.00%]

  <bb 35> [local count: 30870]:
  _41 = parts[2];
  if (_41 > 255)
    goto <bb 40>; [34.00%]
  else
    goto <bb 36>; [66.00%]

  <bb 36> [local count: 20374]:
  # DEBUG BEGIN_STMT
  _42 = _39 << 24;
  _43 = _40 << 16;
  _44 = _42 | _43;
  _45 = _41 << 8;
  _46 = _44 | _45;
  val_79 = val_23 | _46;
  # DEBUG val => val_79
  # DEBUG BEGIN_STMT
  goto <bb 38>; [100.00%]

  <bb 42> [local count: 1073741824]:

  <bb 37> [local count: 1073741824]:
<L60>:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("BKPT #0
	");
  # DEBUG BEGIN_STMT
  goto <bb 42>; [100.00%]

  <bb 38> [local count: 205390]:
  # val_51 = PHI <val_23(24), val_81(27), val_80(31), val_79(36)>
<L59>:
  # DEBUG val => val_51
  # DEBUG BEGIN_STMT
  if (addr_82(D) != 0B)
    goto <bb 39>; [53.47%]
  else
    goto <bb 40>; [46.53%]

  <bb 39> [local count: 109822]:
  # DEBUG BEGIN_STMT
  _47 = lwip_htonl (val_51);
  addr_82(D)->addr = _47;

  <bb 40> [local count: 6581147]:
  # _56 = PHI <0(3), 0(20), 0(23), 0(24), 0(25), 0(26), 0(28), 0(30), 0(32), 0(34), 1(39), 1(38), 0(29), 0(33), 0(35)>
<L61>:
  parts ={v} {CLOBBER};
  return _56;

}


ipaddr_addr (const char * cp)
{
  struct ip4_addr_t val;
  int _1;
  u32_t _2;
  u32_t _6;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = ip4addr_aton (cp_4(D), &val);
  if (_1 != 0)
    goto <bb 3>; [48.89%]
  else
    goto <bb 4>; [51.11%]

  <bb 3> [local count: 524952378]:
  # DEBUG BEGIN_STMT
  _6 = val.addr;

  <bb 4> [local count: 1073741824]:
  # _2 = PHI <_6(3), 4294967295(2)>
  val ={v} {CLOBBER};
  return _2;

}


ip4_addr_netmask_valid (u32_t netmask)
{
  u32_t nm_hostorder;
  u32_t mask;
  long unsigned int _1;
  long unsigned int _2;
  u8_t _5;

  <bb 2> [local count: 89800788]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  nm_hostorder_9 = lwip_htonl (netmask_7(D));
  # DEBUG nm_hostorder => nm_hostorder_9
  # DEBUG BEGIN_STMT
  # DEBUG mask => 2147483648
  goto <bb 5>; [100.00%]

  <bb 3> [local count: 1041207448]:
  # DEBUG BEGIN_STMT
  _1 = mask_3 & nm_hostorder_9;
  if (_1 == 0)
    goto <bb 6>; [5.50%]
  else
    goto <bb 4>; [94.50%]

  <bb 4> [local count: 983941038]:
  # DEBUG BEGIN_STMT
  mask_10 = mask_3 >> 1;
  # DEBUG mask => mask_10

  <bb 5> [local count: 1073741824]:
  # mask_3 = PHI <2147483648(2), mask_10(4)>
  # DEBUG mask => mask_3
  # DEBUG BEGIN_STMT
  if (mask_3 != 0)
    goto <bb 3>; [96.97%]
  else
    goto <bb 6>; [3.03%]

  <bb 6> [local count: 89800787]:
  # mask_12 = PHI <mask_3(5), mask_3(3)>
  goto <bb 9>; [100.00%]

  <bb 7> [local count: 793285752]:
  # DEBUG BEGIN_STMT
  _2 = mask_4 & nm_hostorder_9;
  if (_2 != 0)
    goto <bb 10>; [5.50%]
  else
    goto <bb 8>; [94.50%]

  <bb 8> [local count: 749655035]:
  # DEBUG BEGIN_STMT
  mask_11 = mask_4 >> 1;
  # DEBUG mask => mask_11

  <bb 9> [local count: 839455823]:
  # mask_4 = PHI <mask_12(6), mask_11(8)>
  # DEBUG mask => mask_4
  # DEBUG BEGIN_STMT
  if (mask_4 != 0)
    goto <bb 7>; [94.50%]
  else
    goto <bb 10>; [5.50%]

  <bb 10> [local count: 89800787]:
  # _5 = PHI <0(7), 1(9)>
  return _5;

}


ip4_addr_isbroadcast_u32 (u32_t addr, const struct netif * netif)
{
  long unsigned int _1;
  unsigned char _2;
  long unsigned int _3;
  long unsigned int _4;
  long unsigned int _5;
  long unsigned int _6;
  long unsigned int _7;
  long unsigned int _8;
  u8_t _9;
  unsigned char _13;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ipaddr$addr => addr_11(D)
  # DEBUG BEGIN_STMT
  _1 = addr_11(D) + 4294967295;
  if (_1 > 4294967293)
    goto <bb 8>; [34.00%]
  else
    goto <bb 3>; [66.00%]

  <bb 3> [local count: 708669605]:
  # DEBUG BEGIN_STMT
  _2 = netif_12(D)->flags;
  _13 = _2 & 2;
  if (_13 == 0)
    goto <bb 8>; [34.00%]
  else
    goto <bb 4>; [66.00%]

  <bb 4> [local count: 467721939]:
  # DEBUG BEGIN_STMT
  _3 = netif_12(D)->ip_addr.u_addr.ip4.addr;
  if (_3 == addr_11(D))
    goto <bb 8>; [20.97%]
  else
    goto <bb 5>; [79.03%]

  <bb 5> [local count: 369640648]:
  # DEBUG BEGIN_STMT
  _4 = _3 ^ addr_11(D);
  _5 = netif_12(D)->netmask.u_addr.ip4.addr;
  _6 = _4 & _5;
  if (_6 == 0)
    goto <bb 6>; [66.00%]
  else
    goto <bb 7>; [34.00%]

  <bb 6> [local count: 243962828]:
  _7 = ~_5;
  _8 = _7 & addr_11(D);
  if (_7 == _8)
    goto <bb 8>; [34.00%]
  else
    goto <bb 7>; [66.00%]

  <bb 7> [local count: 286693287]:
  # DEBUG BEGIN_STMT

  <bb 8> [local count: 1073741824]:
  # _9 = PHI <1(2), 0(3), 0(4), 1(6), 0(7)>
  # DEBUG D#1 => {CLOBBER}
  # DEBUG ipaddr$addr => D#1
  return _9;

}


