/* Keep navigation tab from scrolling out of view */
#side-nav {
    position: fixed;
}

/* Basic paragraph formatting */
h1 {  
    line-height:50px;
    color:DarkBlue;
    background-color:#FFFFFF; 
   }
h3 { 
    text-indent: 30px; 
    color:DarkBlue;
    background-color:#FFFFFF; 
   }
h4 { 
    text-indent: 50px; 
    color:DarkBlue;
    background-color:#FFFFFF; 
   }

th { 
    color:Black;
    background-color: lightblue; 
   }