<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.nxp.s32ds.debug.ide.s32debugger.group.launch.s32DebuggerGroupLaunchConfigurationType">
    <stringAttribute key="com.nxp.s32ds.debug.ide.s32debugger.groupLaunch.0.action" value="ACTION_DELAY"/>
    <stringAttribute key="com.nxp.s32ds.debug.ide.s32debugger.groupLaunch.0.actionParam" value="5"/>
    <stringAttribute key="com.nxp.s32ds.debug.ide.s32debugger.groupLaunch.0.enabled" value="true"/>
    <stringAttribute key="com.nxp.s32ds.debug.ide.s32debugger.groupLaunch.0.mode" value="debug"/>
    <stringAttribute key="com.nxp.s32ds.debug.ide.s32debugger.groupLaunch.0.name" value="RFE_processing_example_M7_1 Debug_RAM"/>
    <stringAttribute key="com.nxp.s32ds.debug.ide.s32debugger.groupLaunch.1.action" value="ACTION_NONE"/>
    <stringAttribute key="com.nxp.s32ds.debug.ide.s32debugger.groupLaunch.1.enabled" value="true"/>
    <stringAttribute key="com.nxp.s32ds.debug.ide.s32debugger.groupLaunch.1.mode" value="debug"/>
    <stringAttribute key="com.nxp.s32ds.debug.ide.s32debugger.groupLaunch.1.name" value="RFE_processing_example_M7_0 Debug_RAM"/>
</launchConfiguration>
