.mmenu {
 padding-left: 25px;
 border-style: none solid none solid;
 border-color: blue;
 border-width: 1px;
}	

.rmenu {
 padding-left: 15px;
 border-style: solid;
 border-color: blue;
 border-width: 1px;
}

.nimpl {
 color: #808080;
}

ul.fx {
 list-style-image: url('fx.gif');
}

.table_ln {
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;    
}

.table_ln td, .table_ln th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table_ln tr:nth-child(even){background-color: #f2f2f2;}

.table_ln tr:hover {background-color: #ddd;}

.table_ln th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.acc_title { font-weight: bold; color: #000080; font-size: x-large;}
.acc_stitle { font-weight: bold; }

.max_c { color: #ff0000;}
.avg_c { color: #008000;}
.min_c { color: #000099;}
.itl { font-style: italic;}

.kfx  { font-style: italic; color: #008000;}
.krfx { font-style: italic; color: #000099;}

